<%= javascript_include_tag "ui.cities" %>
<%= javascript_include_tag "new_layout/ui.providerFormPopUp" %>
<%= form_for(@provider, :html => {:multipart=> true}) do |f| %>

  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name, :class=>"input-landing-providers" %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t('description') %><br />
    <%= f.text_area :description, :class=>"input-landing-providers" %>
  </div>  
  
  <div class="field">
    <%= f.label I18n.t("city") %><br />
    <%= f.text_field :city, :class=>"cities input-landing-providers" %>
  </div>
    
  <input type="hidden" id="reg_provider" value="true" name="isProvider" /> 
  <div class="next-steps-links">
    <a href="#step3" class="next-step-landing" step_number="2"> Siguiente paso >> </a>
  </div>
<% end %>
