.list-title.list-providers
  %h1
    = @prov_list_title << " (#{@num_providers})"
    = image_tag '/images/ProveedorTransparenteMedio.png'
.list-arrow.list-arrow-providers    
.all-items.all-providers
  - num = 0
  - @providers.each do |provider|
    .one-item.one-item-providers
      = link_to image_tag(provider.pic.url(:thumb), :class=>"img-providers"), provider_path(provider), :title=>I18n.t('go_to_profile')
      %span
        .one-item-name
          = link_to provider.name, provider
        - if member_signed_in?
          .providersFollow{:facilitator_id=>"#{current_member.facilitator.id}", :provider_id=>"#{provider.id}", :style=>"display:inline"}
            %input{:type=>"hidden",:id=>"followtext", :value=>"#{I18n.t('follow')}"}
            %input{:type=>"hidden", :id=>"unfollowtext", :value=>"#{I18n.t('unfollow')}"}
            %input{:type=>"hidden", :value=>"#{current_member.id}" ,:id=>"member-from"}            
            = link_to I18n.t('go_to_profile'), provider
            |
            %a.prov-send-msg{:href=>"#", :id=>"prov-msg-#{num}"}
              Enviar Mensaje
            |
            %span.loading{:style=>"display:none", :id=>"prov-img-#{num}"}
              = image_tag "mini-loader.gif"          
            - if provider.facilitators.select{|f| f.id == current_member.facilitator.id}.empty?
              %a.prov-follow{:href=>"#",:id=>"follow-#{num}"}
                = I18n.t('follow')
            - else
              %a.prov-unfollow{:href=>"#", :id=>"follow-#{num}"}
                = I18n.t('unfollow')
          - @num = num
          - @provider = provider
          = render :partial=>"providers/send_msg"
    - num = num + 1
= javascript_include_tag "new_layout/ui.providersFollow"
