.send-msg-div{:style=>"display:none", :id=>"send-msg-#{@num}"}
  %h2
    Este mensaje será enviado a todos los facilitadores que administran este proveedor
  %textarea{:name=>"alert[news]", :cols=>"40", :rows=>"4" , :id=>"news-#{@num}"}
  %input{:type=>"hidden", :value=>"#{@provider.id}" ,:id=>"provider-id-#{@num}"}
  %input{:type=>"hidden", :value=>"#{current_member.id}", :id=>"member-from-#{@num}"}          
  .send-msg-message{:style=>"display:none", :id=>"send-msg-message-#{@num}"}
    Mensaje Enviado!
  %input.send-msg-button{:type=>"submit", :value=>"Enviar", :id=>"send-msg-button-#{@num}"}    
