.send-msg-div{:style=>"display:none", :id=>"prov-send-msg-#{@num}"}
  %b
    Este mensaje será enviado a todos los facilitadores que administran este proveedor
  %textarea{:name=>"alert[news]", :cols=>"40", :rows=>"4" , :id=>"prov-news-#{@num}"}
  %input{:type=>"hidden", :value=>"#{@provider.id}" ,:id=>"provider-id-#{@num}"}
  .send-msg-message{:style=>"display:none", :id=>"prov-send-msg-message-#{@num}"}
    Mensaje Enviado!
  %input.prov-send-msg-button{:type=>"submit", :value=>"Enviar", :id=>"prov-send-msg-button-#{@num}"}    
