<%= javascript_include_tag "ui.providersFollow" %>
<h1 class="title"><%= I18n.t('provider.list') %></h1>

<%= render :partial => "providers_list" %>
<%= page_entries_info @providers %>
<%= will_paginate @providers %>
<br/>
<% if member_signed_in? %>
  <%= link_to I18n.t('provider.new'), new_provider_path %>
<% end %>
