<%= javascript_include_tag "ui.providerAdmins" %>
<div class="profile_pic_provider">
  <%= image_tag @provider.pic.url(:profile) %>
</div>


<p>
  <b><%= I18n.t('name')%>:</b>
  <%= @provider.name %>
</p>

<% 
  @member = @provider 
  @member_type = ApplicationHelper::ROLES[:provider]
%>
<% unless @member.contact_informations.empty? %>
  <h2><%= I18n.t('contact_informations')%>:</h2>

  <%= render :partial => "contact_informations/contact_information", :collection=> @member.contact_informations %>
<% end %>

<% if member_signed_in? and can_current_member_edit_provider(@provider.id) %>
  <h2><%= I18n.t('contact_information.add')%>:</h2>
  <%= render :partial => "contact_informations/form" %>
<div id="providerAdmins" class="bordered_box" provider_id="<%= @provider.id %>">
  <p>
  <!--QUITAR LOS QEU YA SON ADMINS-->
    Agregar administrador de este proveedor:
    <select id="member_id">
    <option value="-1" selected> -- </option>
    <% current_member.facilitator.facilitators.each do |fac|
        unless ProviderAdmin.find(:first, :conditions=>{:provider_id=>@provider.id, :member_id=>fac.member.id})
          %>
          <option value="<%= fac.id %>">
            <% if fac.name %>
              <%=fac.name%>
            <% else %>
              <%=fac.member.email%>
            <% end %>
          </option>
          <%
        end
      end %>
    </select>
    <br/>
    ó preguntarle por email
    <input id="ask_admin_mail" type="text" value="mail"/>
    <br/>
    <div id="ask_admin_message">Se envió la solicitud!</div>
    <a name="ask_admin" href="#" class="ask_admin">Ask To Admin</a>
  </p>
</div>  
<% end %>

<% unless @provider.shows.empty? %>
  <h2><%= I18n.t('show.list') %></h2>
  <%= render :partial => "shows/show", :collection=> @provider.shows %>
<% end %>

<% if member_signed_in? and can_current_member_edit_provider(@provider.id) %>
  <h2><%= I18n.t('show.add')%>:</h2>
  <%= render :partial => "shows/form" %>

  <%= link_to I18n.t('edit'), edit_provider_path(@provider) %> |
<% end %>
<%= link_to I18n.t('back'), providers_path %>
