#provider-profile
  #left-div-profile-provider
    .profile-info
      = image_tag 'ProveedorTransparenteChiqui.png', :class=>"transparent"
      %h2
        = @provider.name
      .type
        proveedor
      = image_tag @provider.pic.url(:profile), :class=>"img-profile"  
      .about-me
        .about-me-text
          %input#followtext{:type=>"hidden", :value=>"#{I18n.t('follow')}"} 
          %input#unfollowtext{:type=>"hidden", :value=>"#{I18n.t('unfollow')}"}          
          %span.loading{:style=>"display:none", :id=>"prov-img-0"}
            = image_tag "mini-loader-yellow-on-yellow.gif"                    
          - if current_member.facilitator.providers.select{|p| p.id == @provider.id}.empty?          
            %a.follow{:facilitator_id=>"#{current_member.facilitator.id}",:provider_id=>"#{@provider.id}", :href=>"#", :id=>"prov-0"}
              = I18n.t('follow')
          - else
            %a.unfollow{:facilitator_id=>"#{current_member.facilitator.id}",:provider_id=>"#{@provider.id}", :href=>"#",:id=>"prov-0"}
              =I18n.t('unfollow')    
          %br
          %a.send-msg{:href=>"#"}Enviar un mensaje
    = render :partial => "shared/create_buttons"
  #profile-content-provider
    .my-profile-title
      %h1 
        proveedor
        = image_tag '/images/ProveedorTransparenteMedio.png'
    .my-profile-menu
      %a.events{:href=>"#menu", :show=>"events"} eventos
      |
      %a.contact{:href=>"#menu", :show=>"contact"} información de contacto
      |
      %a.contact{:href=>"#menu", :show=>"shows"} espectáculos      
    .my-profile-arrows
      .arrow-up-profile.arrow-events
      .arrow-up-profile.arrow-contact{:style=>"display:none"}
      .arrow-up-profile.arrow-shows{:style=>"display:none"}
    .mine.my-events
      = render :partial => "events"  
    .mine.my-contact{:style=>"display:none"}
      -  @member =  @provider
      -  @member_type = ApplicationHelper::ROLES[:provider]
      - unless @provider.contact_informations.empty?
        %h2
          = I18n.t('contact_informations')
          \:
        = render :partial => "contact_informations/contact_information", :collection=> @provider.contact_informations
      - if member_signed_in? and can_current_member_edit_provider(@provider.id)
        %h2
          = I18n.t('contact_information.add')
          \:
        = render :partial => "contact_informations/form"
    .mine.my-shows{:style=>"display:none"}
      - unless @provider.shows.empty?
        %h2
          = I18n.t('show.list')
        = render :partial => "shows/show", :collection=> @provider.shows
      - if member_signed_in? and can_current_member_edit_provider(@provider.id)
        %h2
          = I18n.t('show.add')
        = render :partial => "shows/form"
      - else
        Este proveedor no tiene registrado ningún espectáculo
    #providerAdmins.bordered_box{:provider_id => @provider.id}
      Agregar administrador de este proveedor:
      %select#member_id
        %option{:selected => "", :value => "-1"} --
        - current_member.facilitator.facilitators.each do |fac|
          - unless ProviderAdmin.find(:first, :conditions=>{:provider_id=>@provider.id, :member_id=>fac.member.id})
            %option{:value => fac.id}
              - if fac.name
                = fac.name
              - else
                = fac.member.email
      %br
      ó preguntarle por email
      %input#ask_admin_mail{:type => "text", :value => "mail"}/
      %br
      #ask_admin_message Se envió la solicitud!
      %a.ask_admin{:href => "#", :name => "ask_admin"} Ask To Admin
  - @num = 0    
  = render :partial=>"send_msg"
= javascript_include_tag "new_layout/ui.profileProvider"
