%table{:width=>"100%"}
  %tr
    %td{:colspan=>"2", :style=>"padding: 10px 10px 10px; border-width: 0 0 1px; border-style: dotted; border-color: rgb(90, 180, 70);"}
      #{@member.facilitator.name.blank? ? @member.facilitator.member.email : @member.facilitator.name}, quiere ayudarte
      %br 
      A suplir la necesidad:
      %b #{@need.name}
      %br 
      En el proyecto social:
      %b #{@fundation.name}
  %tr
    %td{:style=>"width:55px;border-width: 0 0 1px; border-style: dotted; border-color: rgb(90, 180, 70);"}
      - unless @member.facilitator.pic.url(:thumb).include? "missing"
        = link_to image_tag(@member.facilitator.pic.url(:thumb), :style=>"border-color: rgb(90, 180, 70);"), facilitator_url(@member.facilitator), :title=>"Click para ver el Facilitador", :style=>"text-decoration: none; color: rgb(90, 180, 70);"
      - else
        = link_to image_tag("http://www.conectandosonrisas.org/pics/thumb/missing.png", :style=>"border-color: rgb(90, 180, 70);"), facilitator_url(@member.facilitator), :title=>"Click para ver el Facilitador", :style=>"text-decoration: none; color: rgb(90, 180, 70);"
    %td{:style=>"border-width: 0 0 1px; border-style: dotted; border-color: rgb(90, 180, 70);"}
      = simple_format(auto_link(@message))
