<div class="comment bordered_box">
  <p>
    <%= I18n.t('labels.comment_by') %> <%= comment.member.email if comment.member %>  <%= I18n.t('labels.comment_on') %> <%= comment.updated_at %>:
  </p>
  <p>
    <%= comment.comment %>
  </p>
  <p>
  <%= link_to I18n.t('labels.delete_comment'), [comment.event, comment],
               :confirm => I18n.t('messages.delete_confirmation'),
               :method => :delete %>
  </p>
</div>
