<div class="one-item">
    <% 
    if comment.member.facilitator.name
      name = comment.member.facilitator.name
    else
      name = comment.member.email
    end
    %>
    <%= link_to image_tag(member_thumb(comment.member.facilitator), :class=>"comment_pic"), facilitator_path(comment.member.facilitator), :class=>"nostyle", :title=>I18n.t('go_to_profile')  %>
    <%= link_to name, facilitator_path(comment.member.facilitator), :title=>I18n.t('go_to_profile')  %> 
    <%= I18n.l(comment.updated_at, :format=>:long) %>&nbsp;:
    <br/>
    <%= comment.comment %>
  <% if member_signed_in? and can_current_member_edit_event(comment.event.id) %>
  <%= link_to I18n.t('labels.delete_comment'), [comment.event, comment],
               :confirm => I18n.t('messages.delete_confirmation'),
               :method => :delete %>

  <% end %>

</div>
