.one-item{:id=>"comment-#{comment.id}"}
  = link_to image_tag(member_thumb(comment.member.facilitator), :class=>"comment_pic"), facilitator_path(comment.member.facilitator), :class=>"nostyle", :title=>I18n.t('go_to_profile')
  = link_to member_name(comment.member), facilitator_path(comment.member.facilitator), :title=>member_name_complete(comment.member)
  .msg-date
    = I18n.l(comment.created_at, :format=>:long)
  \:     
  %span.one-item-name.invite-news
    = simple_format(auto_link(comment.comment), :class=>"comment_paragraph")
  - if member_signed_in? and can_current_member_edit_event(comment.event.id)
    .loading{:style=>"display:none", :id=>"comment-img-#{comment.id}"}
      = image_tag "mini-loader.gif"                                  
    %a.delete_comment{:comment_id => comment.id, :href => "#",:id=>"delete-comment-#{comment.id}", :title=>"Eliminar"} #{I18n.t('destroy')}
