<%= form_for([@event, @event.comments.build]) do |f| %>
  <div class="field">
    <%= f.label I18n.t('events.comment') %><br />
    <%= f.text_area :comment %>
    <% if member_signed_in? %>
      <input type="hidden" name="comment[member_id]" value="<%= current_member.id %>"/>    
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('events.create_comment')  %>
  </div>
<% end %>
