<%= form_for([@event, @event.comments.build]) do |f| %>
  <input type="hidden" id="has_twitter" value="<%= current_member_has_twitter %>" />
  <div class="field">
    <div class="phone_commnet">
      <%= f.text_area :comment, :cols=>"30"%>
    </div> 
    <% if member_signed_in? %>
      <input type="hidden" name="comment[member_id]" value="<%= current_member.id %>"/>    
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit I18n.t('events.create_comment')  %>
  </div>
<% end %>
