<h1>Listing contests</h1>
<% if member_signed_in? and current_member.try(:admin?) %>

<table>
  <tr>
    <th>Fundation name</th>
    <th>Num tickets</th>
    <th>Story</th>
    <th>Pic</th>
    <th>Video</th>
    <th>Transport</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contests.each do |contest| %>
  <tr>
    <td><%= Fundation.find(contest.fundation_id).name %></td>
    <td><%= contest.num_tickets %></td>
    <td><%= contest.story %></td>
    <td><%= image_tag contest.pic.url(:thumb) %></td>
    <td><%= contest.video %></td>
    <td><%= contest.transport %></td>
    <td><%= contest.email %></td>
    <td><%= link_to 'Show', contest %></td>
    <td><%= link_to 'Edit', edit_contest_path(contest) %></td>
    <td><%= link_to 'Destroy', contest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest', new_contest_path %>
<% end %>
