<p id="notice"><%= notice %></p>

<p>
  <b>Name es:</b>
  <%= @need_category.name_es %>
</p>
<p>
  <b>Name en:</b>
  <%= @need_category.name_en %>
</p>


<%= link_to 'Edit', edit_need_category_path(@need_category) %> |
<%= link_to 'Back', need_categories_path %>
