<% 
  show_twitter = true
  show_facebook = true
  if @authentications 
%>
  <% unless @authentications.empty? %>
    <p><strong><%= I18n.t('account.login_services') %></strong></p>
    <div class="authentications">
      <% 
        i = 0
        for authentication in @authentications 
          i = i + 1
          show_twitter = false if authentication.provider == "twitter"
          show_facebook = false if authentication.provider == "facebook"
       %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :class => "auth-remove remove", :id=>"auth-#{i}" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <br/>
  <% unless !show_facebook && !show_twitter %>
  <p><strong><%= I18n.t('account.add_login_service') %></strong></p>
  <% end %>
  <p>
  <div class="pop_up"><a href="#"><span><div class="pop_up_triangle"></div> Para poder ingresar sin usuario ni clave, solamente haciendo click.<br/> Pero lo más importante es para poder ayudarnos a regar la voz con tu conocimiento en redes sociales. </span>¿Para qué?</a></div>
  </p>
<% else %>
  <p><strong><%= I18n.t('account.login_services') %></strong></p>
<% end %>
<div class="supported_services">
<% if show_twitter %>
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<% end %>
<% if show_facebook %>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<% end %>
<!--a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a-->
</div>
