<h2><%= I18n.t('account.forgot_password') %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit I18n.t('account.send_reset') %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
