<% if @show_title %>
<h2><%= I18n.t('account.sign_up') %></h2>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% 
    show = true
    begin 
      devise_error_messages!
    rescue 
      show = false  
    end
  %>
  <% if show %>
  <%= devise_error_messages! %>
  <% end %>

  <%= f.label :email %>:<br />
  <%= f.text_field :email , :class=>"member_email"%>
  <br/>
  <% if @member.nil? %>
    <%= f.label I18n.t('account.password') %>:<br />
    <%= f.password_field :password, :class=>"member_password" %>
  <br />
    <%= f.label I18n.t('account.password_confirmation') %>:<br />
    <%= f.password_field :password_confirmation, :class=>"member_password_confirmation" %>
  <br />
  <% elsif @member.password_required? %>
    <%= f.label I18n.t('account.password') %>:<br />
    <%= f.password_field :password %>
  <br />
    <%= f.label I18n.t('account.password_confirmation') %>:<br />
    <%= f.password_field :password_confirmation %>
  <% end %>
  <p><%= f.submit I18n.t('account.sign_up'), :title=> "Cónectate para sacrle sonrisas al país", :class=>"register_wizzard" %></p>
  
  <% unless @member and !@member.password_required? %>
  <div class="supported_services">
  Puedes ingresar con estos servicios:
      <br/>
  <a href="/auth/facebook" class="auth_provider">
    <%= image_tag "signin_facebook_small.png", :alt => "Facebook", :title=>"Sign in with facebook" %>  </a>
     &nbsp;&nbsp;
     <a href="/auth/twitter" class="auth_provider">
    <%= image_tag "sign-in-with-twitter-small.png", :alt => "Twitter", :title=>"Sign in with twitter" %>
  </a>
  </div>  
  <% end %>

<% end %>
