<h2><%= I18n.t('account.edit') %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label I18n.t('account.password') %> <i><%= I18n.t('account.password_new_explain') %></i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label I18n.t('account.password_confirmation') %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label I18n.t('account.password_current') %> <i><%= I18n.t('account.password_current_explain') %></i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit I18n.t('account.update') %></p>
<% end %>

<div>
<% @authentications = current_member.authentications %>
<%= render :partial => "authentications/all" %>
</div>



<p><%= link_to I18n.t('account.cancel'), registration_path(resource_name), :confirm => I18n.t('account.cancel_confirm'), :method => :delete %></p>

