<%= form_for(@facilitator, :html => {:multipart=> true}) do |f| %>
  <% if @facilitator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator.errors.count, "error") %> prohibited this facilitator from being saved:</h2>

      <ul>
      <% @facilitator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label I18n.t("name") %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label I18n.t("contribution") %><br />
    <%= f.text_area :contribution %>
    <input type="hidden" name="facilitator[member_id]" value="<%= current_member.id %>"/>
  </div>
  
    <div class="field">
    <%= f.label I18n.t("profile.population_of_interest") %><br />
    <%=   select_tag "facilitator[population_id]", options_from_collection_for_select(Population.all, "id", "name_#{I18n.locale}") %>
  </div> 
  
  <div class="field">
    <%= f.file_field :pic %>
  </div>
  
  <div class="actions">
    <%= f.submit I18n.t("facilitator.submit_edit") %>
  </div>
<% end %>
