<%= javascript_include_tag "ui.facilitatorForm" %>
<%= javascript_include_tag "ui.cities" %>
<%= form_for(facilitator, :html => {:multipart=> true}) do |f| %>
<div class="profile-settings-left">
  <div class="field" style="display:none;">
    <%= f.label I18n.t("isCompany") %>
    <%= f.check_box :isCompany%>
  </div>
  <div id="company_info" style="display:none">
    <div class="field">
      <%= f.label I18n.t("companyAddress") %><br />
      <%= f.text_field :companyAddress, :class=>"input_dialog" %>    
    </div>
    <div class="field">
      <%= f.label I18n.t("companyPhone") %><br />
      <%= f.text_field :companyPhone, :class=>"input_dialog" %>    
    </div>     
  </div>
  
  <div class="field">
    <%= f.label I18n.t("name") %><br />
    <%= f.text_field :name, :class=>"input_dialog" %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("website") %><br />
    <%= f.text_field :website, :class=>"input_dialog" %>
  </div>

  <div class="field">
    <%= I18n.t("contribution").html_safe %><br />
    <%= f.text_area :contribution, :class=>"textarea_dialog" %>
    <input type="hidden" name="facilitator[member_id]" value="<%= current_member.id %>"/>
  </div>
</div>
<div class="profile-settings-right">
  <div class="field">
    <%= f.label I18n.t("city") %><br />
    <%= f.text_field :city, :class=>"cities" %>
  </div>
  
    <%= f.label I18n.t("profile.population_of_interest") %>
    <br/>
    <% Population.find(:all).each_with_index do |population, i| %>
      <% if i % 2 == 0 && i > 1 %>
        <br/>
      <% end %>
      <%= check_box_tag 'population_ids[]', population.id, facilitator.populations.include?(population)%>
      <div class="population-label">
      <% if I18n.locale.to_s == "en" %>
        <%= population.name_en%>
      <% else %>
        <%= population.name_es%>
      <% end %>
      </div>
    <% end %>
    <br/>
     <br/>
  <div class="field">
    <%= f.label I18n.t("use_facebook_pic") %> &nbsp;
    <% if facilitator.member.use_facebook_pic %>
      <%= check_box_tag 'use_facebook_pic', 1, true, :class => 'use_facebook_pic' %>
    <% else %>
      <%= check_box_tag 'use_facebook_pic', 1, false, :class => 'use_facebook_pic' %>
    <% end %>
  </div>  
  
  <div class="field custom_pic">
    <%= f.label I18n.t("picture") %><br />
    <%= f.file_field :pic %>
  </div>
</div>  
  <div class="profile-settings-button">
    <%= f.submit %>
  </div>
<% end %>
