<%= javascript_include_tag "ui.facilitatorForm" %>
<%= javascript_include_tag "ui.cities" %>
<%= form_for(@facilitator, :html => {:multipart=> true}) do |f| %>
  <% if @facilitator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator.errors.count, "error") %> prohibited this facilitator from being saved:</h2>

      <ul>
      <% @facilitator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @facilitator.name%>
    <%= I18n.t('facilitator.welcome_message').html_safe  %>
  <% end %>
  <div class="field">
    <%= f.label I18n.t("name") %><br />
    <%= f.text_field :name, :class=>"input_dialog" %>
  </div>

  <div class="field">
    <%= I18n.t("contribution").html_safe %><br />
    <%= f.text_area :contribution, :class=>"textarea_dialog" %>
    <input type="hidden" name="facilitator[member_id]" value="<%= current_member.id %>"/>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("city") %><br />
    <%= f.text_field :city, :class=>"cities input_dialog" %>
  </div>
  
    <div class="field">
    <%= f.label I18n.t("profile.population_of_interest") %>
    <br/>
    <% 
      size = Population.count - 1
      Population.find(:all).each_with_index do |population, i|
    %>
      <%= check_box_tag 'population_ids[]', population.id, @facilitator.populations.include?(population) %>
      <% if I18n.locale.to_s == "en" %>
        <%= population.name_en %>
        <% if i <= size - 1 %> 
        ,
        <% end %>
      <% else %>
        <%= population.name_es %>
        <% if i <= size - 1 %> 
        ,
        <% end %>
      <% end %>
    <% end %>
  </div> 
  <div class="field">
    <%= f.label I18n.t("emailNotifications") %> &nbsp;
    <% if @facilitator.member.emailNotifications %>
      <%= check_box_tag 'emailNotifications', 1, true%>
    <% else %>
      <%= check_box_tag 'emailNotifications', 1, false%>
    <% end %>
  </div>  
  <div class="field">
    <%= f.label I18n.t("use_facebook_pic") %> &nbsp;
    <% if @facilitator.member.use_facebook_pic %>
      <%= check_box_tag 'use_facebook_pic', 1, true, :class => 'use_facebook_pic' %>
    <% else %>
      <%= check_box_tag 'use_facebook_pic', 1, false, :class => 'use_facebook_pic' %>
    <% end %>
  </div>  
  <div class="field custom_pic">
    <%= f.label I18n.t("picture") %><br />
    <%= f.file_field :pic %>
  </div>
  <% unless @facilitator.member.facebook_id %>
    <div id="fbConnect" class="facebook_connect" member_id="<%= current_member.id  %>">
      <div id="fb-root"></div>
        <script src="http://connect.facebook.net/es_CO/all.js"></script>
        <script src="/javascripts/ui.fbConnect.js" type="text/javascript"></script>
        <div class="fblogginButton">
          <fb:login-button>Con&eacute;ctate con Facebook</fb:login-button>
        </div>
        <input type="button" class="fbPermissions" value="Dar Permisos a Facebook" onClick="addPermissions()" style="display: none"/>
      <noscript>Activa JavaScript para conectanrte con facebook!</noscript>
    </div>

  <% end %>
  <div class="actions">
    <%= f.submit I18n.t("facilitator.submit_edit") %>
  </div>
<% end %>
