<%= javascript_include_tag "ui.facilitatorForm" %>
<%= javascript_include_tag "ui.cities" %>
<%= form_for(@facilitator, :html => {:multipart=> true}) do |f| %>
  <% if @facilitator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facilitator.errors.count, "error") %> prohibited this facilitator from being saved:</h2>

      <ul>
      <% @facilitator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @facilitator.name%>
    <%= I18n.t('facilitator.welcome_message').html_safe  %>
  <% end %>
  <div class="field">
    <%= f.label I18n.t("isCompany") %>
    <%= f.check_box :isCompany%>
  </div>
  <div id="company_info" style="display:none">
    <div class="field">
      <%= f.label I18n.t("companyAddress") %><br />
      <%= f.text_field :companyAddress, :class=>"input_dialog" %>    
    </div>
    <div class="field">
      <%= f.label I18n.t("companyPhone") %><br />
      <%= f.text_field :companyPhone, :class=>"input_dialog" %>    
    </div>     
  </div>
  
  <div class="field">
    <%= f.label I18n.t("name") %><br />
    <%= f.text_field :name, :class=>"input_dialog" %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("website") %><br />
    <%= f.text_field :website, :class=>"input_dialog" %>
  </div>

  <div class="field">
    <%= I18n.t("contribution").html_safe %><br />
    <%= f.text_area :contribution, :class=>"textarea_dialog" %>
    <input type="hidden" name="facilitator[member_id]" value="<%= current_member.id %>"/>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("city") %><br />
    <%= f.text_field :city, :class=>"cities input_dialog" %>
  </div>
  
    <div class="field">
    <%= f.label I18n.t("profile.population_of_interest") %>
    <br/>
    <% 
      size = Population.count - 1
      Population.find(:all).each_with_index do |population, i|
    %>
      <%= check_box_tag 'population_ids[]', population.id, @facilitator.populations.include?(population) %>
      <% if I18n.locale.to_s == "en" %>
        <%= population.name_en %>
        <% if i <= size - 1 %> 
        ,
        <% end %>
      <% else %>
        <%= population.name_es %>
        <% if i <= size - 1 %> 
        ,
        <% end %>
      <% end %>
    <% end %>
  </div> 
  <div class="field">
    <%= f.label I18n.t("emailNotifications") %> &nbsp;
    <% if @facilitator.member.emailNotifications %>
      <%= check_box_tag 'emailNotifications', 1, true%>
    <% else %>
      <%= check_box_tag 'emailNotifications', 1, false%>
    <% end %>
    <br/>
    <%= f.label I18n.t("emailInstantly") %> &nbsp;
    <% if @facilitator.member.emailInstantly %>
      <%= check_box_tag 'emailInstantly', 1, true%>
    <% else %>
      <%= check_box_tag 'emailInstantly', 1, false%>
    <% end %>
    <br/>    
    <%= f.label I18n.t("emailDaily") %> &nbsp;
    <% if @facilitator.member.emailDaily %>
      <%= check_box_tag 'emailDaily', 1, true%>
    <% else %>
      <%= check_box_tag 'emailDaily', 1, false%>
    <% end %>
    <br/>    
    <%= f.label I18n.t("emailWeekly") %> &nbsp;
    <% if @facilitator.member.emailWeekly %>
      <%= check_box_tag 'emailWeekly', 1, true%>
    <% else %>
      <%= check_box_tag 'emailWeekly', 1, false%>
    <% end %>            
  </div>  
  <div class="field">
    <%= f.label I18n.t("use_facebook_pic") %> &nbsp;
    <% if @facilitator.member.use_facebook_pic %>
      <%= check_box_tag 'use_facebook_pic', 1, true, :class => 'use_facebook_pic' %>
    <% else %>
      <%= check_box_tag 'use_facebook_pic', 1, false, :class => 'use_facebook_pic' %>
    <% end %>
  </div>  
  <div class="field custom_pic">
    <%= f.label I18n.t("picture") %><br />
    <%= f.file_field :pic %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <div class="profile_authentications">
    <% @authentications = current_member.authentications %>
    <%= render :partial => "authentications/all" %>
  </div>
<% end %>
