.send-msg-div{:style=>"display:none", :id=>"fac-send-msg-#{@num}"}
  %textarea{:name=>"alert[news]", :cols=>"40", :rows=>"4" , :id=>"fac-news-#{@num}"}
  %input{:type=>"hidden", :name=>"alert[member_id]", :value=>"#{@member_to}" , :id=>"fac-member-id-#{@num}"}
  .send-msg-message{:style=>"display:none", :id=>"fac-send-msg-message-#{@num}"}
    Mensaje Enviado!
  %input.fac-send-msg-button{:type=>"submit", :value=>"Enviar", :id=>"fac-send-msg-button-#{@num}"}    
