<h1><%= I18n.t('facilitator.list') %></h1>

<table>
  <tr>
    <th></th>
    <th><%=I18n.t('name')%></th>
    <th></th>
    <th></th>
  </tr>

<% @facilitators.each do |facilitator| %>
  <tr>
    <td> 
      <%= image_tag facilitator.pic.url(:thumb) %>
    </td>    
    <td><%= facilitator.name %></td>
    <td><%= link_to I18n.t('go_to_profile'), member_path(facilitator.member) %></td>
    <td>
      <% if member_signed_in? %>
        <% if current_member.facilitator.facilitators.select{|f| f.id == facilitator.id}.empty? %>
          <%= link_to I18n.t('follow'), facilitators_add_follower_path(:facilitator_id=>current_member.facilitator.id, :followed_id=>facilitator.id) %>
        <% else %>
          <%= link_to I18n.t('unfollow'), facilitators_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :followed_id=>facilitator.id) %>
        <% end %>
      <% end %>    
    </td>
  </tr>
<% end %>
</table>

<br />
