<p>
  <b><%= I18n.t('name') %>:</b>
  <%= contact_information.name %>
</p>
<p>
  <b>Email:</b>
  <%=contact_information.email %>
</p>

<p>
  <b><%= I18n.t('contact_information.cellphone') %>:</b>
  <%= contact_information.cellphone %>
</p>

<p>
  <b><%= I18n.t('contact_information.phone') %>:</b>
  <%= contact_information.phone %>
</p>
<p>
  <b><%= I18n.t('contact_information.position') %>:</b>
  <%= contact_information.position %>
</p>
<% if current_member.is_current @member.id %>
<p>
  <%= link_to I18n.t('destroy'), destroy_contact_information(@member, contact_information.id, @member_type),
    :confirm => I18n.t('messages.delete_confirmation'),
     :method => :delete %>
</p>
<% end %>
