<%= form_for([@member, @member.contact_informations.build]) do |f| %>
  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label I18n.t('contact_information.cellphone') %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label I18n.t('contact_information.phone') %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label I18n.t('contact_information.position') %><br />
    <%= f.text_field :position %>
  </div>
  <div class ="hiddens">
    <input type="hidden" name="member_id" value="<%= @member.id %>"/>
    <input type="hidden" name="member_type" value="<%= @member_type %>"/>
  </div>
  <div class="actions">
    <%= f.submit :class=>"contact_information_submit"%>
  </div>
<% end %>
