.menu-bar
  .menu-inner-bar
    %ul
      %li
        %a.menu-logo-link{:href=>"/"}
          .menu-logo  
      %li
        %a.container{:href=>"#{member_path(current_member.id)}"}
          %span.menu-home
          .menu-home-text
            Inicio
          %span.tooltip.tooltip-inicio
            .menu-logo-triangle
            Inicio        
      %li
        %a.container{:class => "#{'msgs' if request.fullpath.include? 'member'}", :href => request.fullpath.include?("member") ? "#msgs" : member_path(current_member.id) << "#msgs"}
          %span.menu-messages
          .menu-messages-text
            Mensajes    
          %span.tooltip
            .menu-logo-triangle
            Mensajes                
      %li
        %a.container{:class => "#{'invites' if request.fullpath.include? 'member'}", :href => request.fullpath.include?("member") ? "#invites" : member_path(current_member.id) << "#invites"}
          %span.menu-invitations
          .menu-invitations-text
            Invitaciones          
          %span.tooltip.tooltip-grande
            .menu-logo-triangle
            Invitaciones        
      %li
        %a.container{:href=>"/project_needs/all_needs"}
          %span.menu-help
          .menu-help-text
            Ayuda        
          %span.tooltip
            .menu-logo-triangle
            Ayuda
      %li
        .container
          %span.menu-register-events
          .menu-register-events-text
            Eventos    
          .create-buttons
            .create-buttons-text
              Eventos
            .create-event-div
              %a{:class => "create-event create-button", :href=>"/events/new"}      
                = image_tag("CrearEventosBoton.png", :class=>"create-event-img")
            .create-event-div
              %a{:class => "create-event create-button", :href=>"/eventos"}
                = "&nbsp".html_safe
                = "&nbsp".html_safe              
                ver
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe                
                todos
      %li
        .container
          %span.menu-register-fundations
          .menu-register-fundations-text
            Proyectos          
          .create-buttons
            .create-buttons-text          
              Proyectos Sociales
            .create-fundation-div
              %a{:class => "create-fundation create-button", :href=>"/fundations/new"}
                = image_tag("CrearProyectosBoton.png", :class=>"create-fundation-img")
            .create-fundation-div
              %a{:class => "create-fundation create-button", :href=>"/proyectos"}
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                ver 
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                todos                
      %li
        .container
          %span.menu-register-providers
          .menu-register-providers-text
            Proveedores          
          .create-buttons      
            .create-buttons-text          
              Proveedores de Sonrisas        
            .create-provider-div
              %a{:class => "create-provider create-button", :href=>"/providers/new"}          
                = image_tag("CrearProveedorBoton.png", :class=>"create-provider-img")
            .create-provider-div
              %a{:class => "create-provider create-button", :href=>"/proveedores"}          
                = "&nbsp".html_safe
                = "&nbsp".html_safe              
                ver
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe                
                todos
      %li 
        .search-div{:style=>"display:inline-block;line-height:4em;"}
          %form#searchform_new{:action => "/search/find", :method => "get"}
            %input#search-text-new.search-text.default{:name => "find", :type => "text", :style=>"color:green;"}
            %span.close-search{:style=>"color:white;display:none;font-weight:bold;border:1px white;cursor:pointer"} x 
      %li
        .my-account-links
          .member-info
            = member_name(current_member)        
          .show-edit-options
            = image_tag member_thumb(current_member.facilitator), :class=>"mini-img-profile"  
            %span.edit-my-account-options
              .edit-me-container{:style=>"border-bottom: 1px dotted white;padding:3px;"}       
                %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-profile"} Editar Mi Perfil
              .edit-me-container{:style=>"border-bottom: 1px dotted white;padding:3px;"}
                %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-account"} Editar Mi Cuenta
              .edit-me-container{:style=>"padding:3px;"}
                - if session[:fb_token].nil?
                  = link_to I18n.t('account.logout'), destroy_member_session_path, :class=>"edit-me-menu"
                - else
                  = link_to I18n.t('account.logout'), facebook_logout_path, :class=>"edit-me-menu"
