.div-for-menu-space.hidden-phone{:style=>"padding-top:70px"}
.menu-bar.hidden-phone
  .menu-inner-bar
    %ul.container
      %li.visible-tablet
        %a.menu-logo-link{:href=>"/"}
          = image_tag "/photos/thumb/missing.png"
      %li.hidden-tablet
        %a.menu-logo-link{:href=>"/"}
          - if Date.today.mon == 12
            = image_tag "/images/LogoNavidad.png", :class=> "menu-logo", :style=>"width:90px"
          - else
            = image_tag "menu/MenuLogo_small_green.png", :class=> "menu-logo"
      %li
        %a.cont{:href=>"#{member_path(current_member.id)}"}
          %span.menu-home
          .menu-home-txt.menu-home-text
            inicio
          %span.tooltip.tooltip-inicio
            .menu-logo-triangle
            inicio        
      %li
        %a.cont{:class => "#{'msgs' if request.fullpath.include? 'member'}", :href => request.fullpath.include?("member") ? "#msgs" : member_path(current_member.id) << "#msgs"}
          - if current_member.num_new_msgs > 0
            #num_new_msgs.num_new
              = current_member.num_new_msgs
          %span.menu-messages
          .menu-messages-txt.menu-messages-text
            mensajes    
          %span.tooltip
            .menu-logo-triangle
            mensajes                
      %li
        %a.cont{:class => "#{'invites' if request.fullpath.include? 'member'}", :href => request.fullpath.include?("member") ? "#invites" : member_path(current_member.id) << "#invites"}
          - if current_member.num_new_invites > 0 
            #num_new_invites.num_new
              = current_member.num_new_invites
          %span.menu-invitations
          .menu-invitations-txt.menu-invitations-text
            invitaciones          
          %span.tooltip.tooltip-grande
            .menu-logo-triangle
            invitaciones        
      %li
        %a.cont{:href=>"/project_needs/all_needs"}
          %span.menu-help
          .menu-help-txt.menu-help-text
            ayuda        
          %span.tooltip
            .menu-logo-triangle
            ayuda
      %li
        .cont.container-box
          %span.menu-register-events
          .menu-register-events-txt.menu-register-events-text
            eventos    
          .create-buttons
            .create-buttons-text
              eventos
            .create-event-div
              %a{:class => "create-event create-button", :href=>"/events/new"}      
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                nuevo
                = "&nbsp".html_safe                                
            %br
            .create-event-div
              %a{:class => "create-event create-button", :href=>"/eventos"}
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe                
                todos
                = "&nbsp".html_safe                                
      %li
        .cont.container-box
          %span.menu-register-fundations
          .menu-register-fundations-txt.menu-register-fundations-text
            proyectos          
          .create-buttons
            .create-buttons-text          
              proyectos sociales
            .create-fundation-div
              %a{:class => "create-fundation create-button", :href=>"/fundations/new"}
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                nuevo
                = "&nbsp".html_safe                                
            %br                
            .create-fundation-div
              %a{:class => "create-fundation create-button", :href=>"/proyectos"}
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                todos    
                = "&nbsp".html_safe                                            
      %li
        .cont.container-box
          %span.menu-register-providers
          .menu-register-providers-txt.menu-register-providers-text
            proveedores          
          .create-buttons      
            .create-buttons-text          
              proveedores de sonrisas        
            .create-provider-div
              %a{:class => "create-provider create-button", :href=>"/providers/new"}          
                %br              
                = "&nbsp".html_safe
                = "&nbsp".html_safe
                nuevo
                = "&nbsp".html_safe                                
            %br                
            .create-provider-div
              %a{:class => "create-provider create-button", :href=>"/proveedores"}          
                %br
                = "&nbsp".html_safe
                = "&nbsp".html_safe                
                todos
                = "&nbsp".html_safe                                
      %li 
        .search-div{:style=>"display:inline-block;line-height:4em;"}
          %form#searchform_new{:action => "/search/find", :method => "get"}
            %input#search-text-new.search-text.default{:name => "find", :type => "text", :style=>"color:green; width:150px;margin-left:8px;"}
            %span.close-search{:style=>"color:white;display:none;font-weight:bold;border:1px white;cursor:pointer"} x 
      %li
        .my-account-links
          .member-info.hidden-tablet
            = member_name(current_member)        
          .show-edit-options
            = image_tag member_thumb(current_member.facilitator), :class=>"mini-img-profile"  
            %span.edit-my-account-options
              .edit-me-container{:style=>"border-bottom: 1px dotted white;padding:3px;"}       
                %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-profile"} Editar Mi Perfil
              .edit-me-container{:style=>"border-bottom: 1px dotted white;padding:3px;"}
                %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-account"} Editar Mi Cuenta
              .edit-me-container{:style=>"padding:3px;"}
                - if session[:fb_token].nil?
                  = link_to I18n.t('account.logout'), destroy_member_session_path, :class=>"edit-me-menu"
                - else
                  = link_to I18n.t('account.logout'), facebook_logout_path, :class=>"edit-me-menu"
              - if current_member.try(:admin?)
                .edit-me-container{:style=>"border-bottom: 1px dotted white;padding:3px;"}
                .edit-me-container{:style=>"padding:3px;"}
                  = link_to 'admin' , '/admin', :class=>"edit-me-menu"
