.row
  %h2.social-title Estos son los aliados de este proyecto
.row
  %p.social-p Conectando Sonrisas está profundamente agradecido con todas las personas que han apoyado de una u otra manera este proyecto, a todas ellas los más sinceros agradecimientos. !Los queremos mucho!
.row
  .allies.span6
    = link_to image_tag("LigaDeLasSonrisasLogoTrans.png"), "http://ligasonrisas.org/", :target=>"_blank", :title=>"Visita la Liga de las Sonrisas"
    %p Conectando Sonrisas es un proyecto de la Fundación La Liga de las Sonrisas
  .allies.span6
    = link_to image_tag("dynaco.png"), "http://www.dynaco.co", :target=>"_blank", :title=>"Visita Dynaco"
    %p Dynaco ha aportado sus recursos y conocimiento para lograr la creación de este portal
.row        
  .allies.span6
    = link_to image_tag("s4n.png"), "http://www.seven4n.com", :target=>"_blank", :title=>"Visita Seven4N"
    %p Seven4n ha colaborado con ideas de negocio y con un product manager para este portal
  .allies.span6
    = link_to image_tag("Pato.png"), "http://www.patoalanaranja.com/", :target=>"_blank", :title=>"Visita Pato ala Naranja"
    %p Pato ala Naranja es el responsable del diseño gráfico de la página
.row
  .allies.span6
    = image_tag "ms-logo_bL.png", :style=>"width:220px"
    %p Microsoft cree en nuesta idea, por lo cual hacemos parte de su programa de donación de software.          
  .allies.span6
    = link_to image_tag("http://involucrame.org/logo.png"), "http://involucrame.org/", :target=>"_blank", :title=>"Visita Involúcrame", :style=>"margin-left:-100px"
    %p Un sitio web aliado que une las necesidades que surgen de los proyectos con enfoque social y las conecta con las personas que deseen involucrarse en ellos.      
.row
  .allies.span6
    = link_to image_tag("LogoUniandinos.png"), "http://www.uniandinos.org.co", :target=>"_blank", :title=>"Visita Uniandinos"
    %p Asociación de Egresados de la Universidad de Los Andes
  .allies.span6
    = link_to image_tag("asu.png", :style=>"height:190px;"), "http://www.uniandinos.org.co/asu/", :target=>"_blank", :title=>"Visita A la Alianza Social Uniandina"
    %p Hacemos parte del programa de responsabilidad social de uniandinos
