.row
  .offset2.span8
    %h2.social-title Estos son los aliados de este proyecto
.row
  .offset2.span8
    %p.social-p.centered-content Conectando Sonrisas está profundamente agradecido con todas las personas que han apoyado de una u otra manera este proyecto, a todas ellas los más sinceros agradecimientos. !Los queremos mucho!
.row
  .allies.span6{:style=>"min-height:170px;"}
    = link_to image_tag("LigaDeLasSonrisasLogoTrans.png"), "http://ligasonrisas.org/", :target=>"_blank", :title=>"Visita la Liga de las Sonrisas"
    %p Conectando Sonrisas es un proyecto de la Fundación La Liga de las Sonrisas
  .allies.span6{:style=>"min-height:170px;"}
    = link_to image_tag("dynaco.png"), "http://www.dynaco.co", :target=>"_blank", :title=>"Visita Dynaco"
    %p Dynaco ha aportado sus recursos y conocimiento para lograr la creación de este portal
.row        
  .allies.span6{:style=>"min-height:200px;"}
    = link_to image_tag("s4n.png"), "http://www.seven4n.com", :target=>"_blank", :title=>"Visita Seven4N"
    %p Seven4n ha colaborado con ideas de negocio y con un product manager para este portal
  .allies.span6{:style=>"min-height:200px;"}
    = link_to image_tag("Pato.png"), "http://www.patoalanaranja.com/", :target=>"_blank", :title=>"Visita Pato ala Naranja"
    %p Pato ala Naranja es el responsable del diseño gráfico de la página
.row
  .allies.span12{:style=>"min-height:140px;"}
    = image_tag "ms-logo_bL.png", :style=>"width:220px"
    %p Microsoft cree en nuesta idea, por lo cual hacemos parte de su programa de donación de software.
.row
  .allies.span6{:style=>"min-height:210px;"}
    = link_to image_tag("LogoUniandinos.png", :style=>"height:170px;"), "http://www.uniandinos.org.co", :target=>"_blank", :title=>"Visita Uniandinos"
    %p Asociación de Egresados de la Universidad de Los Andes
  .allies.span6{:style=>"min-height:210px;"}
    = link_to image_tag("asu.png", :style=>"height:170px;"), "http://www.uniandinos.org.co/asu/", :target=>"_blank", :title=>"Visita A la Alianza Social Uniandina"
    %p Hacemos parte del programa de responsabilidad social de uniandinos
.row
  .allies.span6
    = link_to image_tag("MWB-Logo.png"), "http://www.magicianswithoutborders.com", :target=>"_blank", :title=>"Magos Sin Fronteras (Magicians Without Borders)"
    %p 
      En Colombia Conectando Sonrisas es un aliado oficial de la organización internacional: 
      %a{:target=>"_blank", :href=>"http://www.magicianswithoutborders.com"} Magos Sin Fronteras
  .allies.span6{:style=>"min-height:140px;"}
    = link_to image_tag("http://www.redsuma.org/wp-content/uploads/2013/04/LOGODEFRECOJO.jpg.jpg"), "http://recojo.net/", :target=>"_blank", :title=>"Visita RECOJO", :style=>"height: 185px;"
    %p Hacemos parte de las iniciativas sociales aliadas de la Red Colombiana de Jóvenes RECOJO.            
.row
  %h2.social-title Sitios Web y Artistas Aliados
.row
  .allies.span12
    = link_to image_tag("http://www.ligasonrisas.org/uploads/8/6/4/5/8645542/7737797_orig.png"), "http://www.pastomagic.com/blog", :target=>"_blank", :title=>"Pastomagic"
.row
  .allies.span6
    = link_to image_tag("http://www.ligasonrisas.org/uploads/8/6/4/5/8645542/9448218_orig.png", :style=>"height:190px;"), "http://www.pastomagic.com", :target=>"_blank", :title=>"Visita la página del mago German Arciniegas"
    %p El Mago Colombiano Germán Arciniegas pertenece a una nueva generación de magos, fue artista invitado al congreso internacional Intermagic 2012 en Bogotá. En 2011 fue premiado como uno de los mejores magos de su especialidad a nivel nacional.  
  .allies.span6
    = link_to image_tag("http://www.ligasonrisas.org/uploads/8/6/4/5/8645542/976455.jpg", :style=>"height:190px;"), "http://www.blackcardm.com", :target=>"_blank", :title=>"Visita la página del mago Venezolando Black Card"
    %p Mago Venezolano experto en shows de Cartomagia con Fuego & MISTERIO para Eventos, TV & Comerciales
    &nbsp
