  <div id="home">
  <h1 class="title"><%= I18n.t("home.welcome") %></h1>

    <p class="home_message">
    <%= I18n.t("home.message").html_safe %>
    </p>
    <p>
    <%= I18n.t("home.now") %>
    </p>
    <p>
    <%=@facilitators%> <%= link_to I18n.t('home.facilitators'), facilitators_path %>
    </p>
    <p>
    <%=@fundations%> <%= link_to I18n.t('home.fundations'), fundations_path %>
    </p>
    <p>
    <%=@providers%> <%= link_to I18n.t('home.providers'), providers_path %>
    </p>
    <p>
    <%=@events%> <%= link_to I18n.t('home.events'), events_path %>
    </p>
    <div id="event_pics">
    <%= render :partial=>"events_photos"%>
    </div>
    <p>
    <div id="home_event_comments">
    <%= render :partial=>"events_comments"%>
    </div>    
    </p>  
    <% unless member_signed_in?  %>
      <p>
        <%= I18n.t('home.join')%> <%= link_to I18n.t("account.register"), new_member_registration_path %>
      </p>
      <p>
        <%= I18n.t('home.login')%> <%= link_to I18n.t("account.login"), new_member_session_path %>
      </p>
    <% end %>
</div>
<div id="twitter_msgs">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 4000,
  width: 200,
  height: 250,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#5bb548'
    },
    tweets: {
      background: '#ffffff',
      color: '#827d82',
      links: '#5bb548'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    behavior: 'default'
  }
}).render().setUser('consonrisas').start();
</script>
<style type="text/css">
#twitter_msgs
{
border-style:solid;
border-color:#5bb548;
border-width:1px;
position:absolute;
left:850px;
top:250px;
}
</style>
</div>
 <%= javascript_include_tag "jquery.smoothDivScroll-1.1-min" %>
 <%= javascript_include_tag "ui.home" %>  
