<h1 class="title"><%= I18n.t("home.welcome") %></h1>

Estas presentaciones resumen el objetivo de Conectando Sonrisas, si tienes dudas o quieres m치s informaci칩n porfavor escribenos a <a href="mailto:info@conectandosonrisas.org?subject='M치s info'">info@conectandosonrisas.org</a>
<br/>
<br/>
<div align="center" style="width: 100%; overflow-y: hidden;">
<object id="prezi_f8cfef9685aa5caa84721b57474ca6cf94d81e1c" name="prezi_f8cfef9685aa5caa84721b57474ca6cf94d81e1c" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="550" height="400"><param name="movie" value="http://prezi.com/bin/preziloader.swf"/><param name="allowfullscreen" value="true"/><param name="allowFullScreenInteractive" value="true"/><param name="allowscriptaccess" value="always"/><param name="bgcolor" value="#ffffff"/><param name="flashvars" value="prezi_id=f8cfef9685aa5caa84721b57474ca6cf94d81e1c&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"/><embed id="preziEmbed_f8cfef9685aa5caa84721b57474ca6cf94d81e1c" name="preziEmbed_f8cfef9685aa5caa84721b57474ca6cf94d81e1c" src="http://prezi.com/bin/preziloader.swf" type="application/x-shockwave-flash" allowfullscreen="true" allowFullScreenInteractive="true" allowscriptaccess="always" width="550" height="400" bgcolor="#ffffff" flashvars="prezi_id=f8cfef9685aa5caa84721b57474ca6cf94d81e1c&amp;lock_to_path=0&amp;color=ffffff&amp;autoplay=no&amp;autohide_ctrls=0"></embed></object>
</div>

<div align="center" style="width: 100%; overflow-y: hidden;">
<div style="width:595px; " id="__ss_9072330"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/consonrisas/conectando-sonrisas-intro" title="Conectando Sonrisas - Intro" target="_blank">Conectando Sonrisas - Intro</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9072330?rel=0" width="595" height="497" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> Ver m치s <a href="http://www.slideshare.net/" target="_blank">presentaciones</a> de <a href="http://www.slideshare.net/consonrisas" target="_blank">Conectando Sonrisas</a> </div> </div>
</div>

<p class="home_message">
<%= I18n.t("home.info_message").html_safe %>
</p>
<% unless member_signed_in?  %>
  <p>
    <%= I18n.t('home.join')%> <%= link_to I18n.t("account.register"), new_member_registration_path %>
  </p>
  <p>
    <%= I18n.t('home.login')%> <%= link_to I18n.t("account.login"), new_member_session_path %>
  </p>
<% end %>
