<h1 class="title"><%= I18n.t("home.welcome") %></h1>

Esta es una presentación que resume el objetivo de Conectando Sonrisas, si tienes dudas o quieres más información porfavor escribenos a <a href="mailto:info@conectandosonrisas.org?subject='Más info'">info@conectandosonrisas.org</a>

<div style="width:425px" id="__ss_9072330"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/consonrisas/conectando-sonrisas-intro" title="Conectando Sonrisas - Intro" target="_blank">Conectando Sonrisas - Intro</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/9072330" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> <div style="padding:5px 0 12px"> ver más <a href="http://www.slideshare.net/" target="_blank">prresentaciones</a> de <a href="http://www.slideshare.net/consonrisas" target="_blank">Conectando Sonrisas</a> </div> </div>
<p class="home_message">
<%= I18n.t("home.info_message").html_safe %>
</p>
<% unless member_signed_in?  %>
  <p>
    <%= I18n.t('home.join')%> <%= link_to I18n.t("account.register"), new_member_registration_path %>
  </p>
  <p>
    <%= I18n.t('home.login')%> <%= link_to I18n.t("account.login"), new_member_session_path %>
  </p>
<% end %>
