.landing-background
  .landing-logo
    = image_tag "/logos/LogoConUrl.png"
  .landing-header.fundation
    =image_tag "/images/FundacionesTransparenteMedio.png"
    .text
      Si trabajas en un 
      %b Proyecto Social
      que tiene necesidades, regístrate en Conectando Sonrisas.
      %br
      %li
        Aquí encontrarás facilitadores que te pueden ayudar a suplirlas. 
      %br
      Si en tu
      %b Proyecto Social
      haces
      %b Eventos
      y quieres que estén llenos de sonrisas, regístrate en Conectando Sonrisas.
      %br
      %li
        En esta comunidad virtual también podrás encontrar entretenimiento para estos.
  .steps
    .step.step1
      %p.number-title
        1
      %p.step-title
        Datos de Registro
      = render "registrations/new_landing"
    .step.step2
      %p.number-title
        2  
      %p.step-title
        Datos Proyecto Social
      .step2-form
        = render "fundations/form_landing"
    .step.step3
      %p.number-title
        3  
      #step3-form          
        %p.step-title
          Crea una necesidad      
        = form_for :project_need do |f|
          .field.need_field
            = f.label I18n.t('name')
            %br/
            = f.text_field :name, :maxlength=>"20", :class=>"input-landing"
          .field.need_field
            = f.label I18n.t('recurrence')
            %br/
            = f.text_field :recurrence, :maxlength=>"20", :class=>"input-landing"
          .field.need_field
            = f.label I18n.t('category')
            %br/
            = select_tag("project_need[need_category_id]", options_for_select(NeedCategory.all.map {|category| [need_category_name(category), category.id]}, "1"), :id=>"need_cat_select", :include_blank => I18n.t('other'))
          #other_need_category.field{:style => "display:none; clear:both;"}
            = f.label I18n.t('category')
            \:
            \#{f.text_field :category, :maxlength=>"20", :class=>"input-landing"}
          .need_form_actions
            = f.submit :value=>"Crea una necesidad", :class=>"need_button add_need", :fundation_id=>"#{@fundation.id}"
      .done-container{:style=>"display:none"}  
        %a{:href=>"/soyproyecto", :class=>"done-button"} LISTO
= image_tag "/images/loaders/fundations-loader-big.gif", :class=>"big-loader", :style=>"display:none"

 
  



