.arrows
  .desc-arrow.facilitators-arrow
  .desc-arrow.providers-arrow
  .desc-arrow.fundations-arrow
  .desc-arrow.events-arrow
  .desc-arrow.info-arrow
#left_div
  .left_div_content
    %p
      Bienvenid@s
    %p
      ="Esta es una comunidad virtual para ayudar a suplir necesidades en los proyectos sociales colombianos."
    %p
      = "Aquí te podrás conectar con proyectos sociales y otras personas para llevar acabo más y mejores eventos para estos proyectos."
    %ul
      %li
        %p
          %a{:href=>"/info", :title=>"Entérate!"}Más Información
      %li
        %p
          %a{:href=>"#", :class=>"register", :title=>"Ingresa o Registrate"}Conéctate
    .image
      %img{:src=>"/images/SacarRisas.png", :height=>"65px"}
#facilitators-desc{:style=>"display:none"}
  %ul
    %li
      %b Facilitadores
      somos todos (Empresas, Entidades ó Personas) los que estamos conectados y dispuestos a sacarle sonrisas al país.
    %li
      Conéctate para compartir tus eventos y experiencias de RS y RSE!      
    %li
      Actualmente
      %b #{@num_facilitators}
      facilitadores están conectados
#fundations-desc{:style=>"display:none"}
  %ul
    %li
      Los 
      %b Proyectos Sociales
      son todos los que pueden ser beneficiados por esta red social, serán los que reciban el entretenimiento durante los eventos creados en este portal. 
    %li
      Actualmente 
      %b #{@num_fundations}
      proyectos están conectados
#providers-desc{:style=>"display:none"}
  %ul
    %li
      %b Proveedores
      son todos los expertos en entretenimiento que están dispuestos a ayudar a generar sonrisas en los 
      %b Proyectos Sociales
      , ellos pueden ofrecer sus servicios de entretenimiento para que sean disrutados por los 
      %b Proyectos sociales.
    %li 
      Actualmente 
      %b #{@num_providers}
      proveedores están conectados
#events-desc{:style=>"display:none"}
  %ul
    %li
      Los 
      %b Eventos
      es el momento y lugar donde se encuentran los 
      %b Facilitadores
      ,
      %b Proyectos Sociales
      y 
      %b Proveedores.
    %li
      En estos espacios se realizará un evento de entretenimiento presentando un espectáculo de uno o más 
      %b Proveedores
      para uno o más 
      %b Proyectos Sociales
      con la ayuda de varios 
      %b Facilitadores.
    %li
      Actualmente se han realizado 
      %b #{@num_events}
      eventos.
#info-desc{:style=>"display:none"}
  %ul
    %li
      En esta sonrisa encontrarás tu perfil cuando ingreses. 
    %li
      Desde allí podrás ver las invitaciones a eventos que se realicen de tu interés, podrás seguir a tus 
      %b Proyectos Sociales, Proveedores y Facilitadores
      favoritos. 
    %li
      Tendrás la oportunidad de utilizar tu conocimiento de internet y redes sociales para ayudar a llevar entretenimiento a distintos 
      %b Proyectos Sociales
      del país.
#descs{:style=>"display:none"}
  Facilitadores ... Proveedores ... Proyectos Sociales ... Eventos ...      
#pics
  #event_pics
    = render :partial=>"events_photos"
%h2.news_title
  Sonrisas Recientes
.arrow-down.news-arrow
#news
  #home_event_comments
    = render :partial=>"events_comments"
- unless member_signed_in?
  #register-form{:style=>"display:none"}
    = render :partial => "/registrations/new"        
//= javascript_include_tag "new_layout/ui.homeMenu"
= javascript_include_tag "ui.home" 
= javascript_include_tag "jquery.smoothDivScroll-1.1-min"
