= I18n.t('fundations').capitalize
= "(#{(@event.fundations.count)})"
.fundations-invited-title-bar
.fundations-invited
  - if @event.fundations.count > 0
    .going-div
      - @event.fundations.each do |fundation|
        .element-going{:id=>"fundation-going-#{fundation.id}"}
          = link_to image_tag(fundation.pic.url(:thumb), :class=>"going_pic img-fundations"),  fundation_path(fundation), :title=>"#{fundation.name}"
          - if member_signed_in?          
            - unless current_member.fundations.select{|f| f.id == fundation.id}.empty?
              %a{:href=>"#", :class=>"remove_fundation", :event_id=>"#{@event.id}", :fundation_id=>"#{fundation.id}"}X
