<%= javascript_include_tag "ui.cities" %>
<%= javascript_include_tag "ui.calendar" %>
<%= form_for(@event, :html =>{:multipart=>true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name %>
    <input type="hidden" name="member_id" value="<%= current_member.id %>"/>
  </div>

  <div class="field">
    <%= f.label I18n.t('date_name') %><br />
    <%= f.text_field :date , :class=>"calendar"%>
  </div>
  <% unless current_member.fundations.empty? %>
  <div class="field">
    <%= I18n.t('events.for_fundation') %> <br/>
    <%=  select_tag "fundation_id", options_from_collection_for_select(current_member.fundations.all, "id", "name"), :include_blank => '-- Escogue una --' %>
  </div>      
  <% end %>
  
  <div class="field">
    <%= f.label I18n.t("city") %><br />
    <%= f.text_field :city, :class=>"cities" %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("place") %><br />
    <%= f.text_field :place %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t("isRaiser") %><br />
    <%= f.check_box :isRaiser %>
  </div>  
  
  <div class="field">
    <%= I18n.t('events.pic') %><br/>
    <%= f.file_field :pic %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <%= render :partial => "photo_upload" %>
