.list-title.list-events
  %h1
    = I18n.t('events.list')
    = image_tag '/images/EventoTransparenteMedio.png'
.list-arrow.list-arrow-events    
.all-items
  - @events.each do |event|
    .one-item.one-item-events
      = link_to image_tag(event.pic.url(:thumb), :class=>"img-events"), event_path(event.id),:title=>I18n.t('events.show')
      %span
        .one-item-name
          = link_to event.name.size > 30 ? event.name[0.. 30] + "..." : event.name, event
          ,
          .one-item-date
            = I18n.l(event.date, :format=>:long)
        = link_to I18n.t('events.show'), event
        - if  member_signed_in? and can_current_member_edit_event(event.id)
          | 
          = link_to I18n.t('edit'), edit_event_path(event)
          |
          = link_to I18n.t('destroy'), event, :confirm => I18n.t('messages.delete_confirmation'), :method => :delete
  .pagination-events
    = paginate @events
