.photo_upload{:style=>"display:none"}
  %a{:href=>"#", :class=>"cancel_admin_photos"}
    Listo, ya no voy a eliminar más fotos
  = form_for(@event, :html =>{:multipart=>true}, :id=>"upload_photos_form") do |f|
    .field_photos
      %br
      = f.fields_for :photos do |p|
        - unless p.object.new_record?
          = image_tag(p.object.photo.url(:thumb))
          Eliminar
          = p.check_box :_destroy
    .actions
      = f.submit :value=>"Eliminar las fotos seleccionadas"
