.photo_upload{:style=>"display:none"}
  %a{:href=>"#", :class=>"cancel_admin_photos"}
    Cerrar Admin Fotos
  - 5.times {@event.photos.build}
  = form_for(@event, :html =>{:multipart=>true}, :id=>"upload_photos_form") do |f|
    .field_photos
      Agrega fotos al evento
      %br
      = f.fields_for :photos do |p|
        %p
          - if p.object.new_record?
            = p.file_field :photo
          - else
            = image_tag(p.object.photo.url(:thumb))
            Eliminar
            = p.check_box :_destroy
    .actions
      = f.submit :value=>"Sube las fotos"
