<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>
<p>
  <b>Facilitators attending: <%= @event.facilitators.count %></b>
</p>
<% if member_signed_in? and is_current_member_facilitator? and current_member.has_facilitator_info? %>
<div id="new_facilitator">
  <form action="/events/add_facilitator" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input name="facilitator_id" type="hidden" value="<%= current_member.facilitador.id %>"/>
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_me_facilitator') %>" name="new_facilitator"/>
  </form>
</div>
<% else %>
<div id="ask_facilitator">
  <form action="/events/add_facilitator" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= select_tag "facilitator_id", options_from_collection_for_select(Facilitator.all, "id", "id") %>    
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_facilitator') %>" name="ask_facilitator"/>
  </form>
</div>
<% end %>
<p>
  <b>Fundations attending: <%= @event.fundations.count %></b>
</p>
<% if member_signed_in? and is_current_member_fundation? and current_member.has_fundation_info? %>
<div id="new_fundation">
  <form action="/events/add_fundation" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input name="fundation_id" type="hidden" value="<%= current_member.fundation.id %>"/>
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_me_fundation') %>" name="new_fundation"/>
  </form>
</div>
<% else %>
<div id="ask_fundation">
  <form action="/events/add_fundation" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= select_tag "fundation_id", options_from_collection_for_select(Fundation.all, "id", "name") %>    
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_fundation') %>" name="ask_fundation"/>
  </form>
</div>
<% end %>
<p>
  <b>Providers attending: <%= @event.providers.count %></b>
</p>
<% if member_signed_in? and is_current_member_provider? and current_member.has_provider_info? %>
<div id="new_provider">
  <form action="/events/add_provider" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input name="provider_id" type="hidden" value="<%= current_member.provider.id %>"/>
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_me_provider') %>" name="new_provider"/>
  </form>
</div>
<% else %>
<div id="ask_provider">
  <form action="/events/add_provider" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= select_tag "provider_id", options_from_collection_for_select(Provider.all, "id", "name") %>    
    <input name="event_id" type="hidden" value="<%= @event.id %>"/>
    <input type="submit" value="<%= I18n.t('events.add_provider') %>" name="ask_provider"/>
  </form>
</div>
<% end %>
<p>
  <b>Shows to be shown: <%= @event.shows.count %></b>
</p>
<div id="new_show">
  <form action="/events/add_show" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <b>Add this show</b>
    <p>
      Show:
      <input name="show_id" type="input"/>
    </p>
    <p>
      Event:
      <input name="event_id" type="input"/>
    </p>    
    <input type="submit" value="Add Show" name="new_show"/>
  </form>
</div>

<h2>Comments:</h2>
<%= render :partial => "comments/comment", :collection=> @event.comments %>
<h2>Add a Comment:</h2>
<%= render :partial => "comments/form" %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
