- can_edit = false
- can_edit = can_current_member_edit_event(@event.id) if member_signed_in?
#eventAdmin
  %input#event-id{:type=>"hidden", :value=>"#{@event.id}"}
  #event-profile
    #left-div-profile-event
      .profile-info
        = image_tag 'EventoTransparenteChiqui.png', :class=>"transparent"
        %h2
          = @event.name
        .type
          evento
        = image_tag @event.pic.url(:profile), :class=>"img-profile"  
        .about-me
          .about-me-text
            %b
              = I18n.t("date_name")
            \:
            = I18n.l(@event.date, :format=>:long)
            %br
            %b
              = I18n.t("place")
            \:
            = @event.place
            %br
            %b
              = I18n.t("city")
            \:
            = @event.city           
            .share_this
              = render :partial => "share_event"            
            - if member_signed_in?
              - if current_member.facilitator.events.select{|e| e.id == @event.id}.empty? and !@event.isClosed
                %a.add_facilitator{:event_id => @event.id, :facilitator_id => current_member.facilitator.id, :href => "#", :title => I18n.t('events.add_me_facilitator')}= I18n.t('events.add_me_facilitator')
              - if can_edit
                %br
                %a.edit-me{:href=>"#"}
                  = I18n.t('edit')
                #event-edit{:style=>"display:none"}
                  = render :partial=>"form"
    #profile-content-event
      .my-profile-title
        %h1 
          evento
          = image_tag '/images/EventoTransparenteMedio.png'
      .my-profile-menu
        %a.all{:href=>"#menu", :show=>"all"} todo
        |    
        %a.needs{:href=>"#menu", :show=>"needs"} necesidades
        |    
        %a.comments{:href=>"#menu", :show=>"comments"} comentarios
        |
        %a.pics{:href=>"#menu", :show=>"pics"} fotos y videos
        |
        %a.assistants{:href=>"#", :show=>"assistants"} asistentes
      .my-profile-arrows
        .arrow-up-profile.arrow-all    
      .share_fb
        = render :partial => "share_fb"
        - if @event.isRaiser
          %b #{I18n.t('events.isRaiser')}
      .mine.my-needs
        = render :partial => "event_needs"        
      .mine.my-pics
        #the_photo_gallery     
          = render :partial=>"photo_gallery"
        - if can_edit
          = javascript_include_tag 'jsUpload/jquery.fileupload', 'jsUpload/jquery.fileupload-ui'
          = render :partial=>"photo_upload_js" 
          %a.admin_photos{:href => "#"} Elimina Fotos
          %a.admin_videos{:href => "#"} Sube Videos
          = render :partial=>"photo_upload"                    
          = render :partial=>"video_upload"
      .mine.my-assistants
        - if @event.isClosed
          %b #{I18n.t('events.isClosed')}
        %p
          = render :partial => "event_facilitators"
        %p
          = render :partial => "event_fundations"
        %p
          = render :partial => "event_providers"
      .mine.my-comments
        %h2
          = I18n.t("events.comments")
          \:
        .all-items
          %h3
            = I18n.t("events.add_comment")
            \:
          - if member_signed_in?
            = image_tag member_thumb(current_member.facilitator), :class=>"new_comment_img"
          = render :partial => "comments/form"                
          = render :partial => "comments/comment", :collection=> @event.comments.order("id DESC")
      .add-admins{:style=>"display:none"}
        - if can_edit
          .bordered_box{:event_id => @event.id}
            Agregar administrador a este evento:
            %select#member_id
              %option{:selected => "", :value => "-1"} --
              - current_member.facilitator.facilitators.each do |fac|
                - unless EventAdmin.find(:first, :conditions=>{:event_id=>@event.id, :member_id=>fac.member.id})
                  %option{:value => fac.id}
                    - if fac.name
                      = fac.name
                    - else
                      = fac.member.email     
            %br
            ó preguntarle por email
            %input#ask_admin_mail{:type => "text", :value => "mail"}
            %br
            #ask_admin_message Se envió la solicitud!
            %a.ask_admin{:href => "#", :name => "ask_admin"} 
              Ask To Admin                       
= javascript_include_tag "ui.eventAdmin"
