<%= javascript_include_tag "ui.eventAdmins" %>
<h1 class="title"> <%= I18n.t("events.title") %></h1>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= event_url(@event.id) %>" show_faces="true" width="450" font="tahoma" colorscheme="light"></fb:like>
<p>
<%= image_tag @event.pic.url(:profile) %>
</p>
<p>
  <b><%= I18n.t("name") %>:</b>
  <%= @event.name %>
</p>
<p>
  <b><%= I18n.t("date_name") %>:</b>
  <%= I18n.l(@event.date, :format=>:long) %>
</p>

<% if member_signed_in? %>
<% if can_current_member_edit_event @event.id %>
  <%= link_to I18n.t('edit'), edit_event_path(@event) %>
<% end %>


<div id="member_event_actions" class="bordered_box">
  <% if current_member.facilitator %>
    <% if current_member.facilitator.events.select{|e| e.id == @event.id}.empty? %>
      <div id="new_facilitator">
        <form action="/events/add_facilitator" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input name="facilitator_id" type="hidden" value="<%= current_member.facilitator.id %>"/>
          <input name="event_id" type="hidden" value="<%= @event.id %>"/>
          <input type="submit" value="<%= I18n.t('events.add_me_facilitator') %>" name="new_facilitator"/>
        </form>
      </div>
    <% else %>
      <%= I18n.t('events.attending_as_facilitator') %>
    <% end %>
  <% end %>

  <div id="new_fundation">
    <form action="/events/add_fundation" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= select_tag "fundation_id", options_from_collection_for_select(current_member.fundations, "id", "name") %>    
      <input name="event_id" type="hidden" value="<%= @event.id %>"/>
      <input type="submit" value="<%= I18n.t('events.add_me_fundation') %>" name="new_fundation"/>
    </form>
  </div>

  <div id="new_provider">
    <form action="/events/add_provider" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= select_tag "provider_id", options_from_collection_for_select(current_member.providers, "id", "name") %>    
      <input name="event_id" type="hidden" value="<%= @event.id %>"/>
      <input type="submit" value="<%= I18n.t('events.add_me_provider') %>" name="new_provider"/>
    </form>
  </div>

  <div id="ask_facilitator">
    <form action="/events/add_facilitator" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= select_tag "facilitator_id", options_from_collection_for_select(current_member.facilitator.facilitators, "id", "name") %>    
      <input name="event_id" type="hidden" value="<%= @event.id %>"/>
      <input type="submit" value="<%= I18n.t('events.add_facilitator') %>" name="ask_facilitator"/>
    </form>
  </div>
</div>

<% if can_current_member_edit_event(@event.id) %>
  <div id="eventAdmins" class="bordered_box" event_id="<%= @event.id %>">
    <p>
    <!--QUITAR LOS QEU YA SON ADMINS-->
      Agregar administrador a este evento:
      <select id="member_id">
      <option value="-1" selected> -- </option>
      <% current_member.facilitator.facilitators.each do |fac|
          unless EventAdmin.find(:first, :conditions=>{:event_id=>@event.id, :member_id=>fac.member.id})
            %>
            <option value="<%= fac.id %>">
              <%=fac.name%>
            </option>
            <%
          end
        end %>
      </select>
      <br/>
      ó preguntarle por email
      <input id="ask_admin_mail" type="text" value="mail"/>
      <br/>
      <div id="ask_admin_message">Se envió la solicitud!</div>
      <a name="ask_admin" href="#" class="ask_admin">Ask To Admin</a>
    </p>
  </div>
<% end %>

<% end %>

<p>
  <b> <%= I18n.t("events.attending_facilitators")%>: <%= @event.facilitators.count %></b>
</p>
<p>
<% @event.facilitators.each do |facilitator| 
    if facilitator.name
      name = facilitator.name
    else
      name = facilitator.member.email
    end
%>

<p><%= link_to name, member_path(facilitator.member) %></p>
<% end %>
</p>
<p>
  <b><%= I18n.t("events.attending_fundations")%>: <%= @event.fundations.count %></b>
</p>
<p>
<% @event.fundations.each do |fundation| %>

<p><%= link_to fundation.name, fundation_path(fundation) %></p>
<% end %>
</p>
<p>
  <b><%= I18n.t("events.attending_providers")%>: <%= @event.providers.count %></b>
</p>
<p>
<% @event.providers.each do |provider| %>

<p><%= link_to provider.name provider_path(provider) %></p>
<% end %>
</p>
<p><!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl=<%= event_url(@event.id) %>&linkname=Evento%20de%20Conectando%20Sonrisas"><%= I18n.t('share') %></a>
<span class="a2a_divider"></span>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkname = "Evneto de Conectando Sonrisas";
a2a_config.linkurl = '<%= event_url(@event.id) %>';
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
</p>

<% unless @event.comments.empty? %>
  <h2><%= I18n.t("events.comments")%>:</h2>
  <div class="event_comments bordered_box">
    <%= render :partial => "comments/comment", :collection=> @event.comments %>
  </div>
<% end %>
<h2><%= I18n.t("events.add_comment") %> :</h2>
<%= render :partial => "comments/form" %>


