<%= form_for(@fundation, :html => {:multipart=> true}) do |f| %>
  <% if @fundation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fundation.errors.count, "error") %> prohibited this fundation from being saved:</h2>

      <ul>
      <% @fundation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name, :class=>"input-landing" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('description') %><br />
    <%= f.text_area :description, :class=>"input-landing" %>
  </div>
  <div class="field">
    <%= f.label I18n.t('city') %><br />
    <%= f.text_field :city, :class=>"input-landing cities" %>
  </div>
  
  <div class="field">
    <%= f.label I18n.t('fundation.population') %><br />
    <%=  select_tag "population_id", options_from_collection_for_select(Population.all, "id", "name_#{I18n.locale}") %>
  </div>
  <input type="hidden" id="reg_fundation" value="true" name="isFundation" /> 
  <div class="next-steps-links">
    <a href="#step3" class="next-step-landing" step_number="2"> Siguiente paso >> </a>
  </div>
<% end %>
