.list-title.list-fundations
  %h1
    = @fund_list_title << " (#{@num_fundations})"
    = image_tag '/images/FundacionesTransparenteMedio.png'
.list-arrow.list-arrow-fundations    
.all-items.all-fundations
  %input#followtext{:type=>"hidden", :value=>"#{I18n.t('follow')}"}
  %input#unfollowtext{:type=>"hidden", :value=>"#{I18n.t('unfollow')}"}
  - if member_signed_in?
    %input{:type=>"hidden", :value=>"#{current_member.id}", :id=>"member-from"}            
  - i = 0
  - @fundations.each do |fundation|
    .one-item.one-item-fundations
      = link_to image_tag(fundation.pic.url(:thumb), :class=>"img-fundations"), fundation_path(fundation.id), :title=>I18n.t('go_to_profile')     
      %span
        .one-item-name
          = link_to fundation.name, fundation
        - if fundation.website
          %a.www{:href=>"#{convert_url_for_href(fundation.website)}", :target=>"_blank", :title=>"#{fundation.website}"}www          
        - if member_signed_in?
          = link_to I18n.t('fundation.show'), fundation
          |
          %a.fund-send-msg{:href=>"#", :id=>"fund-msg-#{i}"}
            Enviar Mensaje
          |
          %span.loading{:style=>"display:none", :id=>"fund-img-#{i}"}
            = image_tag "mini-loader.gif"          
          - if current_member.facilitator.fundations.select{|f| f.id == fundation.id}.empty?
            %a.fund-follow{:facilitator_id=>"#{current_member.facilitator.id}",:fundation_id=>"#{fundation.id}", :href=>"#", :id=>"fund-#{i}"}
              = I18n.t('follow')
          - else
            %a.fund-unfollow{:facilitator_id=>"#{current_member.facilitator.id}",:fundation_id=>"#{fundation.id}", :href=>"#",:id=>"fund-#{i}"}
              =I18n.t('unfollow')          
      .one-item-populations.one-item-fundations
        - tot = fundation.populations.count    
        - fundation.populations.each_with_index do |population, i|
          = population_name(population.id) + ((tot == (i + 1)) ? "" : ",")
      - if member_signed_in?
        - @num = i
        - @fundation = fundation
        = render :partial=>"fundations/send_msg" 
    - i = i + 1   
  = javascript_include_tag "new_layout/ui.fundationsFollow"
