<%= javascript_include_tag "new_layout/ui.fundationFormPopUp" %>
<%= form_for(@fundation, :html => {:multipart=> true}) do |f| %>
  <div style="float:left; margin-right:20px;">
  <% unless @fundation.name? %> 
  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label I18n.t('address') %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label I18n.t('cellphone') %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label I18n.t('phone') %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.text_field :email %>
  </div>  
  <div class="field">
    <%= f.label I18n.t('website') %><br />
    <%= f.text_field :website %>
  </div>  
  </div>
  <% unless @fundation.city? %> 
  <div class="field">
    <%= f.label I18n.t('city') %><br />
    <%= f.text_field :city, :class=>"cities" %>
  </div>
  <% end %>
  <% unless @fundation.description? %> 
  <div class="field">
    <%= f.label I18n.t('description') %><br />
    <%= f.text_area :description , :class=>"textarea_dialog"%>
  </div>
  <% end %>
  <%= f.label I18n.t('fundation.population') %><br />
  <% for population in Population.find(:all) %>
  <div>
    <%= check_box_tag "fundation[population_ids][]", population.id,  @fundation.populations.include?(population) %>
    <%= population_name(population.id) %>
  </div>
  <% end %>   
  <div class="hiddens">
      <input type="hidden" name="member_id" value="<%= current_member.id %>"/>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
