<%= javascript_include_tag "new_layout/ui.fundationFormPopUp" %>
<%= form_for(@fundation, :html => {:multipart=> true}) do |f| %>
  <div style="float:left; margin-right:20px;">
  <% unless @fundation.name? %> 
  <div class="field">
    <%= f.label I18n.t('name') %><br />
    <%= f.text_field :name %>
  </div>
  <% end %>
  <div class="field">
    <%= f.label I18n.t('address') %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label I18n.t('cellphone') %><br />
    <%= f.text_field :cellphone %>
  </div>
  <div class="field">
    <%= f.label I18n.t('phone') %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'Email' %><br />
    <%= f.text_field :email %>
  </div>  
  <div class="field">
    <%= f.label I18n.t('website') %><br />
    <%= f.text_field :website %>
  </div>  
  </div>
  <% unless @fundation.city? %> 
  <div class="field">
    <%= f.label I18n.t('city') %><br />
    <%= f.text_field :city, :class=>"cities" %>
  </div>
  <% end %>
  <% unless @fundation.description? %> 
  <div class="field">
    <%= f.label I18n.t('description') %><br />
    <%= f.text_area :description , :class=>"textarea_dialog"%>
  </div>
  <% end %>
  <div class="field">
    <%= f.label I18n.t('fundation.population') %><br />
    <%=  select_tag "population_id", options_from_collection_for_select(Population.all, "id", "name_#{I18n.locale}") %>
  </div>  
  <div class="hiddens">
      <input type="hidden" name="member_id" value="<%= current_member.id %>"/>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
