.send-msg-div{:style=>"display:none", :id=>"fund-send-msg-#{@num}"}
  %b
    Este mensaje será enviado a todos los facilitadores que administran este proyecto social
  %textarea{:name=>"alert[news]", :cols=>"40", :rows=>"4" , :id=>"fund-news-#{@num}"}
  %input{:type=>"hidden", :value=>"#{@fundation.id}" ,:id=>"fundation-id-#{@num}"}
  .send-msg-message{:style=>"display:none", :id=>"fund-send-msg-message-#{@num}"}
    Mensaje Enviado!
  %input.fund-send-msg-button{:type=>"submit", :value=>"Enviar", :id=>"fund-send-msg-button-#{@num}"}    
