<h1><%= I18n.t("fundation.list") %></h1>

<table>
  <tr>
    <th></th>
    <th><%= I18n.t('name') %></th>
    <th><%= I18n.t('website') %></th>
    <th><%= I18n.t('fundation.population') %> </th>    
    <th></th>
    <th></th>
  </tr>

<% @fundations.each do |fundation| %>
  <tr>
    <!--td> <%= image_tag fundation.pic.url(:thumb) %></td-->      
    <td><%= fundation.name %></td>
    <td><%= fundation.website %></td>
    <td><%= population_name(fundation.population_id) %></td>
    <td><%= link_to I18n.t('fundation.show'), fundation %></td>
    <td>
      <% if member_signed_in? %>
        <% if fundation.facilitators.select{|f| f.id == current_member.facilitator.id}.empty? %>
          <%= link_to I18n.t('follow'), fundations_add_follower_path(:facilitator_id=>current_member.facilitator.id, :fundation_id=>fundation.id) %>
        <% else %>
          <%= link_to I18n.t('unfollow'), fundations_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :fundation_id=>fundation.id) %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

