<h1>Listing fundations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Population</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fundations.each do |fundation| %>
  <tr>
    <td><%= fundation.name %></td>
    <td><%= fundation.address %></td>
    <td><%= fundation.city %></td>
    <td><%= fundation.phone %></td>
    <td><%= fundation.website %></td>
    <td><%= population_name(fundation.population_id) %></td>
    <td><%= link_to 'Show', fundation %></td>
    <td><%= link_to 'Edit', edit_fundation_path(fundation) %></td>
    <td><%= link_to 'Destroy', fundation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fundation', new_fundation_path %>
