<%= javascript_include_tag "ui.fundations" %>
<h1 class="title"> <%= I18n.t('fundation.details') %>  </h1>

<div class="profile_pic">
  <%= image_tag @fundation.pic.url(:profile) %>
</div>
<p>
  <b><%= I18n.t('name') %>:</b>
  <%= @fundation.name %>
</p>

<p>
  <b><%= I18n.t('address') %>:</b>
  <%= @fundation.address %>
</p>

<p>
  <b><%= I18n.t('cellphone') %>:</b>
  <%= @fundation.cellphone %>
</p>

<p>
  <b><%= I18n.t('city') %>:</b>
  <%= @fundation.city %>
</p>

<p>
  <b><%= I18n.t('country') %>:</b>
  <%= @fundation.country %>
</p>

<p>
  <b><%= I18n.t('description') %>:</b>
  <%= @fundation.description %>
</p>

<p>
  <b><%= I18n.t('phone') %>:</b>
  <%= @fundation.phone %>
</p>

<p>
  <b><%= I18n.t('website') %>:</b>
  <%= @fundation.website %>
</p>

  <p>
    <b><%= I18n.t('fundation.population') %>:</b>
    <%= population_name(@fundation.population_id) %>
  </p>
<% 
  @member =  @fundation 
  @member_type = ApplicationHelper::ROLES[:fundation]

%>
<% unless @member.contact_informations.empty? %>
<h2><%= I18n.t('contact_informations') %>:</h2>
  <%= render :partial => "contact_informations/contact_information", :collection=> @member.contact_informations %>
<% end %>

<% if member_signed_in? and can_current_member_edit_fundation(@fundation.id) %>

  <h2><%= I18n.t('contact_information.add') %>:</h2>
  <%= render :partial => "contact_informations/form" %>
<div id="fundations" class="bordered_box" fundation_id="<%= @fundation.id %>">
  <p>
  <!--QUITAR LOS QEU YA SON ADMINS-->
    Agregar administrador de fundación:
    <select id="member_id">
    <option value="-1" selected> -- </option>
    <% current_member.facilitator.facilitators.each do |fac|
        unless FundationAdmin.find(:first, :conditions=>{:fundation_id=>@fundation.id, :member_id=>fac.member.id})
          %>
          <option value="<%= fac.id %>">
            <%=fac.name%>
          </option>
          <%
        end
      end %>
    </select>
    <br/>
    ó preguntarle por email
    <input id="ask_admin_mail" type="text" value="mail"/>
    <br/>
    <div id="ask_admin_message">Se envió la solicitud!</div>
    <a name="ask_admin" href="#" class="ask_admin">Ask To Admin</a>
  </p>
</div>
    <br/>
  <%= link_to I18n.t('edit'), edit_fundation_path(@fundation) %> |
<% end %>
<%= link_to I18n.t('back'), fundations_path %>
