- @need_category.project_needs.each do |need|
  .a_need.row{:id=>"need-#{need.id}"}
    .need_item.span2
      %p Nombre:
      - if need.name.length > 35
        %abbr{:title=>"#{need.name}"}
          = need.name[0, 35] + "..."
      - else
        = need.name
    .need_item.need_middle.span3
      %p Proyecto Social:
      = link_to fundation_path(need.fundation) do
        - if need.fundation.name.length > 35
          %abbr{:title=>"#{need.fundation.name}"}
            = need.fundation.name[0, 35] + "..."
        - else
          = need.fundation.name
    .need_item.span2
      %p Recurrencia:
      #{need.recurrence}        
    - if member_signed_in?
      .need_actions.span1
        .need_action
          %a.help_need{:need_id => need.id, :href => "#help_need",:fundation_id=>"#{need.fundation.id}", :id=>"help-need-#{need.id}", :title=>"Tu puedes ayudar ya", :member_id=>"#{current_member.id}"}
            = image_tag "IconNeed_Help.png"
          %p Ayudar
          .loading{:style=>"display:none", :id=>"need-help-img-#{need.id}"}
            = image_tag "mini-loader.gif"      
        -if can_current_member_edit_fundation(need.fundation.id)
          .need_action
            %a.delete_need{:need_id => need.id, :href => "#delete_need",:fundation_id=>"#{need.fundation.id}", :id=>"delete-need-#{need.id}", :title=>"Eliminar"} X
            %p #{I18n.t('destroy')}
            .loading{:style=>"display:none", :id=>"need-img-#{need.id}"}
              = image_tag "mini-loader.gif"                                
  .row
    .need_divider.span8
