<%= form_for([@provider, @provider.shows.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :costs %><br />
    <%= f.text_field :costs %>
  </div>  
  <div class="field">
    <%= f.label :infrastructure %><br />
    <%= f.text_area :infrastructure %>
  </div>
  
  <div class="field">
    <%= f.label :offering %><br />
    <%= f.text_field :offering %>
  </div>    
  
  <div class="field">
    <%= f.label :requirements %><br />
    <%= f.text_area :requirements %>
  </div>  
  <div class="field">
    <%= f.label :population_id %><br />
    <%=   select_tag "population_id", options_from_collection_for_select(Population.all, "id", "name") %>
  </div>    
  

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
