  <p>
    <b><%= I18n.t('name')%>:</b>
    <%= show.name %>
  </p>

  <p>
    <b><%= I18n.t('show.population') %>:</b>
    <%= population_name(show.population_id) %>
  </p>
<% if member_signed_in? and can_current_member_edit_provider(show.provider.id) %>
  <p>
  <%= link_to I18n.t('destroy'), [show.provider, show],
               :confirm => I18n.t('messages.delete_confirmation'),
               :method => :delete %>
  </p>
<% end %>
