<h1>Listing populations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Age min</th>
    <th>Age max</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @populations.each do |population| %>
  <tr>
    <td><%= population.name %></td>
    <td><%= population.description %></td>
    <td><%= population.age_min %></td>
    <td><%= population.age_max %></td>
    <td><%= link_to 'Show', population %></td>
    <td><%= link_to 'Edit', edit_population_path(population) %></td>
    <td><%= link_to 'Destroy', population, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Population', new_population_path %>
