<!DOCTYPE html>
<html>
<head>
  <title>..::Conectando Sonrisas::..  ::Beta::</title>
  <%= stylesheet_link_tag :all %>
  <link  href="//fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" >
<link  href="//fonts.googleapis.com/css?family=Covered+By+Your+Grace:regular" rel="stylesheet" type="text/css" >  
  <%= csrf_meta_tag %>
</head>
<body class="application_body">

<div class="application_header">

    <p class="home_logo">
        <a href="/" class="logo" title="<%= I18n.t('application.menu_home') %>">Conectando Sonrisas</a>
    </p>
</div>
<div id="home_menu">
  <a href="/" class="home" ><%=I18n.t('application.menu_home')%></a>  
  <% if member_signed_in?  %>
    <%= link_to I18n.t('application.menu_profile'), member_path(current_member.id), {:class=>"home"} %>
  <% end %>
  <a href="/facilitators" class="home" ><%=I18n.t('application.menu_facilitators')%></a>  
  <a href="/providers" class="home"><%=I18n.t('application.menu_providers')%></a>  
  <a href="/fundations" class="home"><%=I18n.t('application.menu_fundations')%></a>  
  <a href="/events" class="home"><%=I18n.t('application.menu_events')%></a>    
</div>
<div class="account">
  <% if member_signed_in?  %>
    <%= I18n.t('account.logged_in_as')%>: <br/> <%= current_member.email %>
    <br/>
    <%= link_to I18n.t('account.logout'), destroy_member_session_path %> |
    <%= link_to I18n.t('account.edit'), edit_member_registration_path %>
  <% else %>
    <%= link_to I18n.t('account.register'), new_member_registration_path %> |
    <%= link_to I18n.t('account.login'), new_member_session_path %>
  <% end %>
</div>
<div class="locale_menu">
  <form action="" method="get">
    <%= I18n.t('set_locale') %>:<br/>
    <select name="locale">
      <option value="en">English</option>
      <% if I18n.locale == :es%>
        <option value="es" selected>Español</option>
      <% else %>
        <option value="es">Español</option>
      <% end %>
    </select>
    <input type="submit" value="Ok" name="new_locale"/>
  </form>
</div>
<div class="application_messages">
  <p id="notice" class="notice"><%= notice %></p>
  <p id="alert" class="alert"><%= alert %></p>
</div>
<div class="application_content">
<%= yield %>
</div>
<div class="ads_right">
</div>
<div class="ads_left">
</div>
<div class="application_footer">
...:: BETA ::...
</div>
</body>
  <%= javascript_include_tag :defaults %>
</html>
