!!!
%html
  %head
    %title ..::Conectando Sonrisas::..  ::Beta::
    = stylesheet_link_tag "scaffold_min"
    = stylesheet_link_tag "jquery-ui-1.8.10.custom"
    = stylesheet_link_tag "prettyPhoto"
    = stylesheet_link_tag "new"
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-ui-1.8.10.custom.min"        
    = csrf_meta_tag
    %meta{:charset => "utf-8"}/
    %link{:href => "", :media => "all", :rel => "stylesheet"}/
    = javascript_include_tag "gooAnalytics"
  %body
    #left_div_top
      %form#searchform{:action => "/search/find", :method => "get"}
        %input#search-text.default{:name => "find", :type => "text"}
        %a{:href=>"#", :title=>"Buscar"}
          .search-triangle-button
    #right_div_top
      %span.application_messages
        %span.notice
          = notice
        %span.alert
          = alert
      .account
        - if member_signed_in?
          = current_member.facilitator.name.blank? ? current_member.email : current_member.facilitator.name
          = link_to I18n.t('account.edit'), edit_member_registration_path  
          |        
          - if session[:fb_token].nil?
            = link_to I18n.t('account.logout'), destroy_member_session_path
          - else
            = link_to I18n.t('account.logout'), facebook_logout_path
        - else
          %a{:class=>"login", :href=>"#", :title=>"Conéctate!"}
            Conéctate        
    #header
      #logo
        %a{:href => "/"}
          %img{:src => "/images/conectando_sonrisas.png", :title => I18n.t('application.menu_home'), :class=>"logo"}/
      #menu
        %ul
          %li
            %a.facilitators{:href => "/facilitators", :title=> I18n.t('application.menu_facilitators')}
          %li
            %a.providers{:href => "/providers", :title=> I18n.t('application.menu_providers')}
          %li
            %a.fundations{:href => "/fundations", :title=> I18n.t('application.menu_fundations')}
          %li
            %a.events{:href => "/events", :title=> I18n.t('application.menu_events')}
          - if member_signed_in?
            %li
              %a.info{:href=>"#{member_path(current_member.id)}", :title=>"#{I18n.t('application.menu_profile')}"}
          - else
            %li
              %a.info{:href => "#", :title=>"Cuando ingreses este será el link a tu perfil"}
    = yield
    #footer
      #follow-us
        %a.follow-text{:href=>"/social", :title=> "Conéctate en nuestras redes sociales"}
          Síguenos
        %a{:href=>"http://www.twitter.com/consonrisas", :class=>"footernostyle", :target=>"_blank"}
          %img{:src=>"/images/TwitterBtn.png", :alt=>"Follow consonrisas on Twitter", :title=>"Follow consonrisas on Twitter"}  
        %a{:href=>"http://www.facebook.com/pages/Conectando-Sonrisas/207633962587548", :class=>"footernostyle", :target=>"_blank"}
          %img{:src=>"/images/FacebookBtn.png",:alt=>"Follow Conectando Sonrisas on Facebook",:title=>"Follow Conectando Sonrisas on Facebook"}
        %a{:href=>"http://vimeo.com/consonrisas", :class=>"footernostyle", :target=>"_blank"}
          %img{:src=>"/images/VimeoBtn.png", :alt=>"Vimeo", :title=>"Follow Conectando Sonrisas on Vimeo"}    
      = 'Publicidad - Privacidad - Terminos y Condiciones - Contáctenos en'
      %a{:href=>"mailto:info@conectandosonrisas.org?Subject=Contacto Home"}info@conectandosonrisas.org
  #login-form{:style=>"display:none"}
    = render :partial => "/devise/sessions/login_form"
  :javascript
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  = javascript_include_tag "getSatisfaction"
  = javascript_include_tag "new_layout/ui.homeMenu"
  = javascript_include_tag "new_layout/login"  
  = javascript_include_tag "new_layout/search"
  = javascript_include_tag "jquery.prettyPhoto"
  = javascript_include_tag "jquery-ui-timepicker-addon"  
