!!!
%html
  %head
    %title ..::Conectando Sonrisas::..  ::Beta::
    = stylesheet_link_tag "scaffold_min"
    = stylesheet_link_tag "jquery-ui-1.8.10.custom"
    = stylesheet_link_tag "prettyPhoto"
    = stylesheet_link_tag "new"
    = stylesheet_link_tag "smart_wizard"
    = stylesheet_link_tag "smart_wizard_big"    
    = stylesheet_link_tag "jsUpload/jquery.fileupload-ui"
    = stylesheet_link_tag "themes/default/default"
    = stylesheet_link_tag "themes/pascal/pascal"
    = stylesheet_link_tag "themes/orman/orman"
    = stylesheet_link_tag "nivo-slider"
    %link{:href=>"/bootstrap/css/bootstrap.css", :rel=>"stylesheet"}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"}
    = csrf_meta_tag  
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}    
    %meta{:charset => "utf-8"}/
    %meta{:name=>"description",  :content=>"Comunidad Virtual para llenar de magia y alegria los corazones de los colombianos"}
    %meta{:name=>"keywords", :content=>"Eventos, Fundaciones, Sonrisas, Facilitadores, Proyectos Sociales, Apoyo a Fundaciones, Ayuda a Fundaciones"}
    - if @meta_name 
      %meta{:property=>"og:title", :content=>@meta_name}
    - if @meta_desc
      %meta{:property=>"og:description", :content=>@meta_desc}
    - if @meta_img
      %meta{:property=>"og:image", :content=>@meta_img}
    %link{:href => "", :media => "all", :rel => "stylesheet"}/
    = javascript_include_tag "gooAnalytics"
  %body
    %div.container
      .row
        .span12
          = render "shared/messages"
      #alert-msg{:style=>"display:none"}
        %p
      - if member_signed_in? 
        = render "shared/mobile_nav"
        = render "shared/menu"
      - else
        %div.row
          #left_div_top.span4
            %form#searchform{:action => "/search/find", :method => "get"}
              %input#search-text.default{:name => "find", :type => "text"}
              %a{:href=>"#", :title=>"Buscar"}
                .search-triangle-button
          #right_div_top.span8
            .account
              - if member_signed_in?
                = member_name(current_member)
                .edit-my-account-container{:style=>"display:inline-block;"}
                  .edit-place
                    = link_to I18n.t('edit'), "#", :style=>"color:white", :class=>"edit-my-account"
                    #edit-my-account-options{:style=>"display:none"}
                      = "&nbsp".html_safe
                      = "&nbsp".html_safe                
                      %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-profile"} Mi Perfil
                      %br
                      %br
                      = "&nbsp".html_safe
                      %a.edit-me-menu{:type=>"button", :href=>"/members/edit_settings#my-account"} Mi Cuenta
                |        
                - if session[:fb_token].nil?
                  = link_to I18n.t('account.logout'), destroy_member_session_path
                - else
                  = link_to I18n.t('account.logout'), facebook_logout_path
              - else
                %a{:class=>"login", :href=>"#", :title=>"Conéctate", :direction=>"down"}
                  = I18n.t('account.login')
                #login-form{:style=>"display:none"}
                  = render :partial => "/devise/sessions/login_form"
        #header.row
          #logo.span4
            %a{:href => "/"}
              - if Date.today.mon == 12
                %img{:src => "/images/LogoNavidad.png", :title => I18n.t('application.menu_home'), :class=>"logo", :style=>"height:113px"}/
              - else
                %img{:src => "/images/conectando_sonrisas.png", :title => I18n.t('application.menu_home'), :class=>"logo"}/
          #menu.span8
            %ul.clearfix.hidden-phone
              %li
                %a.facilitators{:href => "/facilitadores", :title=> I18n.t('application.menu_facilitators')}
              %li
                %a.providers{:href => "/proveedores", :title=> I18n.t('application.menu_providers')}
              %li
                %a.fundations{:href => "/proyectos", :title=> I18n.t('application.menu_fundations')}
              %li
                %a.events{:href => "/eventos", :title=> I18n.t('application.menu_events')}
              - if member_signed_in?
                %li.last
                  %a.info{:href=>"#{member_path(current_member.id)}", :title=>"#{I18n.t('application.menu_profile')}"}
              - else
                %li.last
                  %a.info.register_wizzard.visible-desktop{:href => "#", :title=>"Cuando ingreses este será el link a tu perfil"}
      = yield
      = render "shared/footer"
  %script{:src=>"/bootstrap/js/bootstrap.js"}          
  - unless is_mobile?
    :javascript
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    = javascript_include_tag "usersvoice"  
  = javascript_include_tag "homePromotion"
  = javascript_include_tag "new_layout/ui.homeMenu"
  = javascript_include_tag "new_layout/login"  
  = javascript_include_tag "new_layout/search"
  = javascript_include_tag "jquery.prettyPhoto"
  = javascript_include_tag "jquery-ui-timepicker-addon"  
  = javascript_include_tag "jquery.smartWizard"    
  = javascript_include_tag "new_layout/register"     
  = javascript_include_tag "ui.cities"
  = javascript_include_tag "ui.profilePics"  
  = javascript_include_tag "ui.needs"
