<!DOCTYPE html>
<html>
<head>
  <title>..::Conectando Sonrisas::..  ::Beta::</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "scaffold_min" %>  
  <%= stylesheet_link_tag "jquery-ui-1.8.10.custom" %>    
  <%= stylesheet_link_tag "smoothDivScroll" %>      
  <%= stylesheet_link_tag "prettyPhoto" %>    
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link href="http://fonts.googleapis.com/css?family=Radley:regular" rel="stylesheet" type="text/css" >
  <%= javascript_include_tag "jquery-1.4.4.min" %>
  <%= javascript_include_tag "jquery-ui-1.8.10.custom.min" %>  
  <%= javascript_include_tag "jquery-ui-timepicker-addon" %>    
  <%= javascript_include_tag "ui.feedback" %>
  <%= javascript_include_tag "ui.homeMenu" %>  
  <%= javascript_include_tag "jquery.prettyPhoto" %>  
  <%= csrf_meta_tag %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24889585-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="header">
  <div id="menu">
    <ul>
      <% if member_signed_in?  %>
        <li class="current_page_item"><%= link_to I18n.t('application.menu_profile'), member_path(current_member.id), {:class=>"profile"} %></li>
      <% else %>
        <li class="current_page_item"><a href="/" class="home" ><%=I18n.t('application.menu_home')%></a></li>
      <% end %>
      <li><a href="/facilitators" class="facilitators" ><%=I18n.t('application.menu_facilitators')%></a></li>  
      <li><a href="/providers" class="providers"><%=I18n.t('application.menu_providers')%></a></li>  
      <li><a href="/fundations" class="fundations"><%=I18n.t('application.menu_fundations')%></a></li>  
      <li><a href="/events" class="events"><%=I18n.t('application.menu_events')%></a></li>    
      <li><a href="/info" class="info" ><%=I18n.t('application.menu_info')%></a></li>
      <% if current_member.try(:admin?) %>
        <li><a href="/admin/index" class="admin" >admin</a></li>
      <% end %>
    <ul>
  </div>
	<div id="search">
		<form id="searchform" method="get" action="/search/find">
			<fieldset>
			<input id="s" type="text" name="find" value="" class="text" />
			<input id="x" type="submit" value="<%= I18n.t('search') %>" class="button" />
			</fieldset>
		</form>
	</div>
  <div class="account">
    <% if member_signed_in?  %>
      <%= I18n.t('account.logged_in_as')%>: <br/> <%= current_member.email %>
      <br/>
      <% if session[:fb_token].nil? %>
        <%= link_to I18n.t('account.logout'), destroy_member_session_path %> |
      <% else %>
         <%= link_to I18n.t('account.logout'), facebook_logout_path %>
      <% end %>

      <%= link_to I18n.t('account.edit'), edit_member_registration_path %>
    <% else %>
      <%= link_to I18n.t('account.login'), new_member_session_path %>
    <% end %>
  </div>
  <div class="locale_menu">
    <form action="" method="get">
      <%= I18n.t('set_locale') %>:<br/>
      <select id="el_locale" name="locale">
        <option value="en">English</option>
        <% if I18n.locale == :es%>
          <option value="es" selected>Español</option>
        <% else %>
          <option value="es">Español</option>
        <% end %>
      </select>
      <input type="submit" value="Ok" name="new_locale"/>
    </form>
  </div>
</div>
<div id="logo">
  <a href="/" class="nostyle">
  <img src="/images/conectando_sonrisas.png" height="100" title="<%= I18n.t('application.menu_home') %>"/>
  </a>
  <div class="application_messages">
    <p id="notice" class="notice"><%= notice %></p>
    <p id="alert" class="alert"><%= alert %></p>
  </div>
</div>

<div id="page">
  <div id="content">
    <div class="post">
      <div class="entry">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
<hr/>
<div id="footer">
  ...:: BETA ::...
<br/>
<a href="http://www.twitter.com/consonrisas" class="footernostyle" target="_blank"><img src="/images/Twitter-icon24.png" alt="Follow consonrisas on Twitter" title="Follow consonrisas on Twitter" /></a>
<a href="http://www.facebook.com/pages/Conectando-Sonrisas/207633962587548" class="footernostyle" target="_blank"><img src="/images/FaceBook-icon24.png" alt="Follow Conectando Sonrisas on Facebook" title="Follow Conectando Sonrisas on Facebook"/></a>
<br/>
<a href="mailto:info@conectandosonrisas.org?subject=Contacto%20Pagina"><%= I18n.t('mailto') %></a>
&nbsp;|&nbsp;
Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
</div>
  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>

  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};

    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "consonrisas";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#5AB448";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>
</body>
  <%= javascript_include_tag :defaults %>
</html>
