<% unless @member.event_admins.empty? %>
<div class="member_events bordered_box">
  <p> 
    <% if is_current_member_this_member(@member.id) %>
    <%= I18n.t('profile.manage_events') %>
    <% else %>
    <%= I18n.t('profile.managed_events') %>
    <% end %>    

  </p>
  <p>
    <% @member.event_admins.each do |e| %>
      <% if e.active %>
        <%= link_to e.event.name, event_url(e.event) %> 
        <% if is_current_member_this_member(@member.id) %>
          | <%= link_to I18n.t('destroy'), e.event, :confirm => I18n.t('messages.delete_confirmation'), :method => :delete %>    
        <% end %>
        <br/>
      <% elsif is_current_member_this_member(@member.id)  %>
        <div event_id="<%= e.event.id %>" member_id="<%= @member.id %>" class="asked_admin">
        Te han solicitado ser adminitrador de este evento: <%=e.event.name%>: <a class="event_admin_accept" href="#">Aceptar</a> | <a href="#" class="event_admin_reject">Rechazar</a>
        </div>
      <% end %>
    <% end %>
  </p>
</div>
<% end %>
<% if is_current_member_this_member(@member.id) %>
  <p>
    <%= link_to I18n.t('profile.create_event'), new_event_path %>
  </p>
<% end %>

