<% unless @member.fundation_admins.empty? %>
<div class="member_fundations bordered_box">
  <p> 
    <% if is_current_member_this_member(@member.id) %>
    <%= I18n.t('profile.manage_fundations') %>
    <% else %>
    <%= I18n.t('profile.managed_fundations') %>
    <% end %>    

  </p>
  <p>
    <% @member.fundation_admins.each do |f| %>
      <% if f.active %>
        <%= link_to f.fundation.name, fundation_url(f.fundation) %> 
        <% if is_current_member_this_member(@member.id) %>
         | <%= link_to I18n.t('destroy'), f.fundation, :confirm => I18n.t('messages.delete_confirmation'), :method => :delete %>    
        <% end %>
        <br/>
        Eventos de esta fundaci&oacute;n:
        <% @fundation = f.fundation %>
        <%= render "fundations/events" %>      
      <% elsif is_current_member_this_member(@member.id) %>
        <div fundation_id="<%= f.fundation.id %>" member_id="<%= @member.id %>" class="asked_admin">
        Te han solicitado ser adminitrador de esta fundación: <%=f.fundation.name%>: <a class="fundation_admin_accept" href="#" >Aceptar</a> | <a href="#" class="fundation_admin_reject">Rechazar</a>
        </div>
      <% end %>
    <% end %>
  </p>
</div>
<% end %>
<% if is_current_member_this_member(@member.id) %>
  <p>
    <%= link_to I18n.t('profile.create_fundation'), new_fundation_path %>
  </p>
<% end %>

