<% unless @member.facilitator.fundations.empty? %>
<div class="following bordered_box">
  <p>
    <%= I18n.t('profile.followed_fundations') %>
  </p>
    <% @member.facilitator.fundations.each do |f|  %>
      <%= link_to f.name, fundation_path(f) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('unfollow'), fundations_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :fundation_id=>f.id) %>
      <% end %>
      <br/>
    <% end %>
</div>
<% end %>

<% unless @member.facilitator.providers.empty? %>
  <div class="following bordered_box">
    <p>
      <%= I18n.t('profile.followed_providers') %>  
    </p>
    <% @member.facilitator.providers.each do |p|  %>
      <%= link_to p.name, provider_path(p) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('unfollow'), providers_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :provider_id=>p.id) %>
      <% end %>
      <br/>
    <% end %>
  </div>
<% end %>

<% unless @member.facilitator.facilitators.empty? %>
  <div class="following bordered_box">
    <p>
      <%= I18n.t('profile.followed_facilitators') %>
    </p>
    <% @member.facilitator.facilitators.each do |fac|  %>
      <%= link_to fac.name, facilitator_path(fac) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('unfollow'), facilitators_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :followed_id=>fac.id) %>
      <% end %>
      <br/>
    <% end %>
  </div>
<% end %>
