<% unless @member.facilitator.fundations.empty? %>
<div class="following bordered_box">
    <% @member.facilitator.fundations.each do |f|  %>
      <%= link_to f.name, fundation_url(f) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('unfollow'), fundations_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :fundation_id=>f.id) %>
      <% end %>
      <br/>
    <% end %>
</div>
<% end %>
<% if is_current_member_this_member @member.id %>
  <p>
    <%= link_to I18n.t('fundations'), fundations_path %>
  </p>
<% end %>

<% unless @member.facilitator.providers.empty? %>
  <div class="following bordered_box">
    <% @member.facilitator.providers.each do |p|  %>
      <%= link_to p.name, provider_url(p) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('unfollow'), providers_remove_follower_path(:facilitator_id=>current_member.facilitator.id, :provider_id=>p.id) %>
      <% end %>
      <br/>
    <% end %>
  </div>
<% end %>
<% if is_current_member_this_member @member.id %>
  <p>
    <%= link_to I18n.t('providers'), providers_path %>
  </p>
<% end %>
