#needs-div{:style=>"display:none"}
  = render "project_needs/show_all_needs"
#msgs-div{:style=>"display:none"}
  = render :partial => "msgs"
#invites-div{:style=>"display:none"}
  = render :partial => "invites"  
.sub_menu
  %a.needs{:href=>"#needs", :show=>"needs"} #{I18n.t('help_with_needs')} 
  |
  %a.invites{:href=>"#invites", :show=>"invites"} #{I18n.t('invites')}
  .num-invites
    = @invites.size
  | 
  %a.msgs{:href=>"#msgs", :show=>"msgs"} #{I18n.t('messages_name')}
  .num-invites
    = @msgs.size 
