.sub_menu.hidden-phone
  #needs-div{:style=>"display:none"}
    = render "project_needs/show_all_needs"
  #msgs-div{:style=>"display:none"}
    = render :partial => "msgs"
  #invites-div{:style=>"display:none"}
    = render :partial => "invites"  
  %a.needs{:href=>"#needs", :show=>"needs"} #{I18n.t('help_with_needs')} 
  | 
  %a.msgs{:href=>"#msgs", :show=>"msgs"} #{I18n.t('messages_name')}
  #num_new_msgs_sub.num-invites
    = @num_new_msgs
  |
  %a.invites{:href=>"#invites", :show=>"invites"} #{I18n.t('invites')}
  #num_new_invites_sub.num-invites
    = @num_new_invites
