<%= javascript_include_tag "ui.member" %>
<h1 class="title"> <%= link_to I18n.t('application.menu_profile') %></h1>
<div id="member">
<% if @member.use_facebook_pic and @member.facebook_id %>
  <div class="profile_pic">
    <%= image_tag "http://graph.facebook.com/#{@member.facebook_id}/picture?type=large" %>
  </div>
<% else %>
  <div class="profile_pic">
    <%= image_tag @member.facilitator.pic.url(:profile) %>
  </div>
<% end %>
<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<div class="member_facilitator_info bordered_box">
  <% @facilitator = @member.facilitator %>
  <% if is_current_member_this_member @member.id and !@facilitator.has_complete_info%>
    <%= render 'facilitators/form'%>
  <% else %>
    <%= render 'facilitators/show'%>    
  <% end %>
</div>

<% if is_current_member_this_member @member.id and !@member.facilitator.events.empty? %>

  <div class="my_events bordered_box">
    <p>
    <%= I18n.t('profile.events_calendar') %>
    </p>
    <% @member.facilitator.events.each do |event| %>  
      <%= link_to ("#{event.name}, #{I18n.l(event.date, :format=> :long)}"), event %>
      <br/>
    <% end %>
  </div>
<% end %>

<%= render :partial => "admin_fundations" %>

<%= render :partial => "admin_providers" %>

<%= render :partial => "admin_events" %>


<% if is_current_member_this_member @member.id %>

  <%= render "following" %>

  <%= render "news" %>
  
<% end %>
</div>
