#my-profile
  #left-div-profile
    - if @member.facilitator.name.nil? or @member.facilitator.name.length < 1
      %input#show_edit{:type=>"hidden", :value=>"show"}
    - else
      %input#show_edit{:type=>"hidden", :value=>"no"}
    .profile-info
      = image_tag 'FacilitadorTransparenteChiqui.png', :class=>"transparent"
      %h2
        = @member.facilitator.name.nil? ? "DEBES INGRESAR TU NOMBRE!" : @member.facilitator.name
      .type
        #{I18n.t('facilitator_name')}
      = image_tag member_pic(@member.facilitator), :class=>"img-profile"  
      .about-me
        .about-me-text
          - @facilitator = @member.facilitator
          = render 'facilitators/show'
          - if is_current_member_this_member @member.id
            %a.edit-me{:href=>"#"}#{I18n.t('edit')}
    .my-connections
      .my-connections-faces
        - @member.facilitator.facilitators.each_with_index do |fac, i|
          = link_to image_tag(member_thumb(fac)), fac.member, :title=>"Ver perfil"
          - break if i >= 2
      .my-connections-link
        = I18n.t('connections')
        %br
        %a.see-all{:href=>"#"}#{I18n.t('see_all')}
    = render :partial => "shared/create_buttons"
  #profile-content
    .my-profile-title
      %h1
        = I18n.t('application.menu_profile')
        = image_tag '/images/SonrisaTransparenteMedio.png'
    .my-profile-menu-top
      %span.my-news
        = I18n.t('news')
      %span.my-personal      
        = I18n.t('personal')
    .my-profile-menu
      %span.news
        %a.invites{:href=>"#invites", :show=>"invites"} #{I18n.t('invites')}
        | 
        %a.msgs{:href=>"#msgs", :show=>"msgs"} #{I18n.t('messages_name')}
      %span.personal
        %a.events{:href=>"#events", :show=>"events"} #{I18n.t('events_name')}
        | 
        %a.fundtions{:href=>"#fundations", :show=>"fundations"} #{I18n.t('fundations')}
        | 
        %a.providers{:href=>"#providers", :show=>"providers"} #{I18n.t('providers')}
    .my-profile-arrows
      .arrow-up-profile.arrow-invites
      .arrow-up-profile.arrow-msgs{:style=>"display:none"}
      .arrow-up-profile.arrow-events{:style=>"display:none"}
      .arrow-up-profile.arrow-fundations{:style=>"display:none"}
      .arrow-up-profile.arrow-providers{:style=>"display:none"}  
    .mine.my-invites
      = render :partial => "invites"
    .mine.my-msgs{:style=>"display:none"}
      = render :partial => "msgs"  
    .mine.my-events{:style=>"display:none"}
      = render :partial => "admin_events"  
    .mine.my-fundations{:style=>"display:none"}
      = render :partial => "admin_fundations"  
    .mine.my-providers{:style=>"display:none"}
      = render :partial => "admin_providers"  
  #following{:style=>"display:none"}
    =render :partial =>"following" 
  #edit-facilitator{:style=>"display:none"}
    =render :partial =>"facilitators/form"     
= javascript_include_tag "new_layout/ui.myProfile"
