<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<div class="member_facilitator_info bordered_box">
  <% @facilitator = @member.facilitator %>
  <% if @facilitator.has_complete_info %>
    <%= render 'facilitators/show'%>    
  <% else %>
    <%= render 'facilitators/form'%>
  <% end %>
</div>
<% unless @member.fundations.empty? %>
<div class="member_fundations bordered_box">
  <p> 
    <% if is_current_member_this_member(@member.id) %>
    <%= I18n.t('profile.manage_fundations') %>
    <% else %>
    <%= I18n.t('profile.managed_fundations') %>
    <% end %>    

  </p>
  <p>
    <% @member.fundations.each do |f| %>
      <%= link_to f.name, fundation_url(f) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('destroy'), f, :confirm => I18n.t('messages.delete_confirmation'), :method => :delete %>    
      <% end %>
    <% end %>
  </p>
</div>
<% end %>
<% if is_current_member_this_member(@member.id) %>
  <p>
    <%= link_to I18n.t('profile.create_fundation'), new_fundation_path %>
  </p>
<% end %>

<% unless @member.providers.empty? %>
<div class="member_providers bordered_box">
  <p> 
    <% if is_current_member_this_member(@member.id) %>
      <%= I18n.t('profile.manage_providers') %>
    <% else %>
      <%= I18n.t('profile.managed_providers') %>
    <% end %>
  </p>
  <p>
    <% @member.providers.each do |p|  %>
      <%= link_to p.name, provider_url(p) %> 
      <% if is_current_member_this_member(@member.id) %>
        <%= link_to I18n.t('destroy'), p, :confirm => I18n.t('messages.delete_confirmation'), :method => :delete %>
      <% end %>
      <br/>
    <% end %>
  </p>
</div>
<% end %>
<% if is_current_member_this_member @member.id %>
  <p>
    <%= link_to I18n.t('profile.create_provider'), new_provider_path %>
  </p>
<% end %>
