= javascript_include_tag "new_layout/completeRegister.js"
#my-profile
  = render "sub_menu"
  #left-div-profile
    - if @num_steps > 0
      %input#showCompleteRegister{:type=>"hidden", :value=>"yes"}
    - else
      %input#showCompleteRegister{:type=>"hidden", :value=>"no"}
    .my-connections
      .my-connections-faces
        - @member.facilitator.facilitators.each_with_index do |fac, i|
          = link_to image_tag(member_thumb(fac)), fac.member, :title=>"Ver perfil"
          - break if i >= 2
      .my-connections-link
        = I18n.t('connections')
        %br
        %a.see-all{:href=>"#", :title=>"Ver las #{@member.facilitator.facilitators.count + @member.facilitator.fundations.count + @member.facilitator.providers.count} conexiones"}#{I18n.t('see_all')}
    .profile-info
      = image_tag 'FacilitadorTransparenteChiqui.png', :class=>"transparent"
      %h2
        = member_name(@member)
      .type
        #{I18n.t('facilitator_name')}
      .profile-picture-div
        - if member_signed_in? and !@member.use_facebook_pic
          %a{:href=>"#", :class=>"change_pic"}
            Cambia tu foto
            %span.edit_profilepicture_icon 
        = image_tag member_pic(@member.facilitator), :class=>"img-profile"  
      .about-me
        .about-me-text
          - @facilitator = @member.facilitator
          = render 'facilitators/show'
          %p
            %b #{I18n.t('contribution').html_safe}
            %br
            = @facilitator.contribution.slice(0..100) + " ..." if @facilitator.contribution
          - if is_current_member_this_member @member.id
            %a.editt-me{:href=>"/members/edit_settings#my-profile"} #{I18n.t('edit')} #{I18n.t('profile_text')} 
            %br
            = link_to I18n.t('see_public_profile'), facilitator_path(@facilitator)
  #profile-content
    .mine.my-complete-register
      =render :partial =>"complete_register"         
    .mine.my-news_feed{:style=>"display:block"}
      =render :partial =>"sub_menu_options"     
      = render :partial => "news_feed"      
    .mine.my-events{:style=>"display:none"}
      = render :partial => "admin_events"  
    .mine.my-fundations{:style=>"display:none"}
      = render :partial => "admin_fundations"  
    .mine.my-providers{:style=>"display:none"}
      = render :partial => "admin_providers"  
  #following{:style=>"display:none"}
    =render :partial =>"following" 
  #edit-facilitator{:style=>"display:none"}
    =render :partial =>"facilitators/form"     
  #change_pic{:style=>"display:none"}
    - @model = @fac
    = render :partial=>"shared/just_pic"  

= javascript_include_tag "new_layout/ui.myProfile"
