<div class="profile_pic">
  <%= image_tag @member.facilitator.pic.url(:profile) %>
</div>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<div class="member_facilitator_info bordered_box">
  <% @facilitator = @member.facilitator %>
  <% if @facilitator.has_complete_info %>
    <%= render 'facilitators/show'%>    
  <% else %>
    <%= render 'facilitators/form'%>
  <% end %>
</div>

<%= render :partial => "admin_fundations" %>

<%= render :partial => "admin_providers" %>



<% if is_current_member_this_member @member.id %>

  <%= render "following" %>

  <%= render "news" %>
  
<% end %>
