= javascript_include_tag "new_layout/completeRegister.js"
#my-profile
  #left-div-profile
    = render :partial => "shared/create_buttons"
    - if @num_steps > 0
      %input#showCompleteRegister{:type=>"hidden", :value=>"yes"}
    - else
      %input#showCompleteRegister{:type=>"hidden", :value=>"no"}
    .profile-info
      = image_tag 'FacilitadorTransparenteChiqui.png', :class=>"transparent"
      %h2
        = @member.facilitator.name.nil? ? "DEBES INGRESAR TU NOMBRE!" : @member.facilitator.name
      .type
        #{I18n.t('facilitator_name')}
      .profile-picture-div
        - if member_signed_in? and !@member.use_facebook_pic
          %a{:href=>"#", :class=>"change_pic"}
            Cambia tu foto
            %span.edit_profilepicture_icon 
        = image_tag member_pic(@member.facilitator), :class=>"img-profile"  
      .about-me
        .about-me-text
          - @facilitator = @member.facilitator
          = render 'facilitators/show'
          %p
            %b #{I18n.t('contribution').html_safe}
            %br
            = @facilitator.contribution.slice(0..100) + " ..." if @facilitator.contribution
          - if is_current_member_this_member @member.id
            %a.editt-me{:href=>"/facilitators/#{@facilitator.id}/edit"} #{I18n.t('edit')} #{I18n.t('profile_text')} 
            %br
            = link_to I18n.t('see_public_profile'), facilitator_path(@facilitator)
    .my-connections
      .my-connections-faces
        - @member.facilitator.facilitators.each_with_index do |fac, i|
          = link_to image_tag(member_thumb(fac)), fac.member, :title=>"Ver perfil"
          - break if i >= 2
      .my-connections-link
        = I18n.t('connections')
        %br
        %a.see-all{:href=>"#"}#{I18n.t('see_all')}
  #profile-content
    .my-profile-title
      %h1
        = I18n.t('application.menu_profile')
        = image_tag '/images/SonrisaTransparenteMedio.png'
    .my-profile-menu-top
      %span.my-personal      
        = I18n.t('personal')
    .my-profile-menu
      %span.news
        %a.news_feed{:href=>"#news_feed", :show=>"news_feed"} #{I18n.t('news_feed')}
      %span.personal
        %a.events{:href=>"#events", :show=>"events"} #{I18n.t('events_name')}
        | 
        %a.fundtions{:href=>"#fundations", :show=>"fundations"} #{I18n.t('fundations')}
        | 
        %a.providers{:href=>"#providers", :show=>"providers"} #{I18n.t('providers')}
    .my-profile-arrows
      .arrow-up-profile.arrow-invites
    .mine.my-complete-register
      =render :partial =>"complete_register"         
    .mine.my-news_feed{:style=>"display:block"}
      = render :partial => "news_feed"      
    .mine.my-events{:style=>"display:none"}
      = render :partial => "admin_events"  
    .mine.my-fundations{:style=>"display:none"}
      = render :partial => "admin_fundations"  
    .mine.my-providers{:style=>"display:none"}
      = render :partial => "admin_providers"  
  #following{:style=>"display:none"}
    =render :partial =>"following" 
  #edit-facilitator{:style=>"display:none"}
    =render :partial =>"facilitators/form"     
  #change_pic{:style=>"display:none"}
    - @model = @fac
    = render :partial=>"shared/just_pic"  

= javascript_include_tag "new_layout/ui.myProfile"
